{% extends "template.html" %}

{% block title %}Step Two: New Sample Rack{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}

    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.add_rack') }}">
                            <i class="fa fa-grip-vertical"></i> New Sample Rack
                        </a>
                    </span>
                    <i class="fa fa-upload"></i> Step Two: File Validation</h1>

            </div>
        </div>
        <div class="container">

            <div class="alert alert-warning text-center">
                <b>Notice:</b> This is currently in early development stages and will
                likely break if the following instructions are not followed.</div>

            <table class="table table-striped">
            {{ show_value(session_data["serial_number"], "Serial Number", "text")  }}
            {{ show_value(render_colour(session_data["colour"]), "Colour", "text")  }}
            {{ show_value(session_data["description"], "Description", "text")  }}
{#            {{ show_value(session_data["json"]["num_rows"], "Number of Rows", "text")  }}#}
{#            {{ show_value(session_data["json"]["num_cols"], "Number of Columns", "text")  }}#}

            </table>
            
            <form method="POST" enctype="multipart/form-data">
{#                action="{{ url_for('storage.rack_automatic_entry_validation', _hash=hash) }}">#}

                {{ form.csrf_token() }}
                <div class="row">
                    <div class="col-6">
                        {{ form_field(form.num_rows) }}
                    </div>
                    <div class="col-6">
                        {{ form_field(form.num_cols) }}
                    </div>
                </div>
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Sample</th>
                            <th>Sample Barcode</th>
                            <th>Confirm</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in form %}

                        {% if field.render_kw["_selectform"]%}
                        <tr>
                            <th scope="1">{{ field.label }}</td>
                                {% if field.render_kw["_sample"] %}
                            <td><a href=' {{ field.render_kw["_sample"][0]["_links"]["self"]  }}' target="_blank">
                                    <i class="fas fa-vial"></i> {{field.render_kw["_sample"][0]["uuid"]}}
                                </a>
                            </td>
                            <td>{{field.render_kw["_sample"][0]["barcode"]}}</td>
                            <td>{{field}}</td>
                            {% else %}
                            <td>Not Found</td>
                            <td>Not Found</td>
                            <td>Not Available</td>
                            {%endif%}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                <div id="create-from-file-btn" class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {{ form_field(form.submit) }}
                    </div>
                    <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                        <a href="{{ url_for('storage.rack_index') }}">
                            <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                Cancel
                            </button></a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
