{% extends "template.html" %}

{% block title %}Create Aliquot{% endblock %}

{% block body %}
<div class="container">
    <h1>
        <span class="secondary-heading">
            <a id="sample_href">
                <i class="fas fa-vial"></i> <span id="uuid"></span>
            </a>
        </span>
        <i class="fa fa-code-branch"></i> Create Aliquoted Samples
    </h1>


    <div class="row">

        <div class="col-10">
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="processing_protocol">Remaining Parent Quantity</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="remaining_quantity" disabled>
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><span id="remaining_metric">ERR</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="processing_protocol">Original Parent Quantity</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="original_quantity" disabled>
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><span id="original_metric">ERR</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_field(form.processing_protocol) }}
                {{ form_field(form.processed_by ) }}

                <div class="row">
                    <div class="col-6">
                        {{ form_field(form.aliquot_date) }}
                    </div>
                    <div class="col-6">
                        {{ form_field(form.aliquot_time) }}
                    </div>
                </div>
        </div>
        <div class="col-2">
            <canvas id="quantity-chart" width="100%" height="100%"></canvas>



        </div>
    </div>

    <h2>Total Aliquots: <span id="total_aliquots"></span></h2>


    <table id="aliquoted_sample_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Container</th>
                <th>Quantity</th>
                <th>Barcode</th>
                <th width="5%">Actions</th>
        </thead>
        <tbody>
        </tbody>
    </table>



    {{ form_field(form.comments) }}
    {{ form_field(form.submit) }}

    </form>

</div>


{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>#
<script src="{{ url_for('static', filename='js/sample/aliquot/create.js') }}"></script>

{% endblock %}