{% extends "template.html" %}

{% block title %}Step Two: New Cryovial Box (From File){% endblock %}

{% block body %}

        <div class="container">

            <h1><span class="secondary-heading"><i class="fa fa-cube"></i> New Cryovial Box (From File)</span><i class="fa fa-upload"></i> Step Two: Validation</h1>
            
            <div class="alert alert-warning text-center">
                <b>Notice:</b> This is currently in early development stages and will 
                likely break if the following instructions are not followed.</div>
        
            <div class="row">
                {{ show_value(session_data["serial_number"], "Serial Number", "text")  }}

                {{ show_value(session_data["num_rows"], "Number ofRows", "text")  }}
                {{ show_value(session_data["num_cols"], "Number of Columns", "text")  }}
            </div>

            <form method="POST" enctype="multipart/form-data" action="{{ url_for('storage.crybox_from_file_validation', hash=hash) }}" >
                
                {{ form.csrf_token() }}
                
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Sample</th>
                            <th>Sample Barcode</th>
                            <th>Confirm</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for field in form %}
                        
                    {% if field.render_kw["_selectform"]%}
                        <tr>
                            <th scope="1">{{ field.label }}</td>
                            {% if field.render_kw["_has_sample"] %}
                                <td><i class="fas fa-vial"></i> LIMBSMP-{{field.render_kw["_sample"].id}}</td>
                                <td>{{field.render_kw["_sample"].biobank_barcode}}</td>
                                <td>{{field}}</td>
                            {% else %}
                                <td>Not Found</td>
                                <td>Not Found</td>
                                <td>Not Available</td>
                            {%endif%}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
                
            {{ form_field(form.submit) }}

            </form>
        </div>
{% endblock %}
