{% extends "template.html" %}

{% block title %}Editing LIMBDOC-{{ document.id }}{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-file"></i> LIMBDOC-{{ document.id }}</span>Edit</h1>

    </div>
</div>
<div class="container">
    <form method="POST" action="{{ url_for('document.edit', id=document.id ) }}">
        {{ form.csrf_token }}
        {{ form_field(form.name) }}
        {{ form_field(form.description) }}
        {{ form_field(form.type) }}
        {{ form_field(form.submit, with_label=False) }}

    </form>
</div>
{% endblock %}