{% extends "template.html" %}

{% block title %}LIMBDOC-{{ document.id }} :: Document Portal{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1><span class="secondary-heading"><i class="fas fa-file"></i> Document</span>LIMBDOC-{{ document.id }}</h1>

                {{ show_value(document.name, "Document Name", "text") }}
                {{ show_value(document.description, "Document Description", "textarea") }}
                {{ show_value(document.type, "Document Type", "text") }}
                {{ show_value(render_author_for_table(document.author), "Author", "text") }}


            </div>
            <div class="col-lg-4">
                <h2><i class="fa fa-download"></i> Document Files</h2>

            </div>
        </div>


    </div>
{% endblock %}