{% extends "template.html" %}

{% block title %}LIMBDOC-{{ document.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1><span class="secondary-heading">
            <a href="{{ url_for('document.index') }}">
                <i class="fas fa-file"></i> Document Portal</span>
            </a>LIMBDOC-{{ document.id }}</h1>

        <div class="row text-muted">
            <div class="col-7">
                <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                    {% if not document.is_locked %}
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="{{ url_for('document.edit', id=document.id) }}">
                                <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                    Details
                                </button>
                            </a>
                        </div>

                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="{{ url_for('document.new_file', id=document.id) }}">
                                <button type="button" class="btn btn-outline-dark"><i class="fa fa-upload"></i> Upload File</button>
                            </a>
                        </div>


                    {% endif %}

                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                class="btn btn-outline-dark"><i class="fa fa-lock"></i> {% if document.is_locked %}
                            Unl{% else %}L{% endif %}ock
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-5 text-right">
                <i class="fa fa-calendar"></i> Created On: {{ document.created_on }}
                <div class="clearfix"></div>
                <i class="fa fa-user"></i> Created By: {{ render_author_for_table(document.author) }}
            </div>
        </div>


        <h2>Document Information</h2>

        {{ show_value(document.name, "Document Name", "text") }}
        {{ show_value(document.description, "Document Description", "textarea") }}
        {{ show_value(document.type, "Document Type", "text") }}
        {{ show_value(render_author_for_table(document.author), "Author", "text") }}


        <h2>
            <i class="fa fa-paperclip"></i> Document Files
        </h2>

        <table id="documents" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>File</th>
                <th>
                    MD5 Checksum <i class="fa fa-question" data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="This is used to ensure that the encrypted file is decrypted properly!"></i>
                </th>
                <th>Uploader</th>
                <th>Created On</th>
            </tr>
            </thead>
            <tbody>
                {% if document.files|length > 0 %}
                {% for file in document.files %}
                    <tr>
                        <td>
                            <a href="{{ url_for('document.view_file', id=document.id, file_id=file.id) }}">
                                <i class="fa fa-paperclip"></i> {{ file.name }}
                            </a>
                        </td>
                        <td><code>{{ file.checksum }}</code></td>
                        <td>{{ render_author_for_table(file.author) }}</td>
                        <td>{{ file.created_on }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td class="full-width" style="text-align: center;" colspan="4">No Data Available.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <i class="fa fa-lock"></i> {% if document.is_locked %}Unl{% else %}L{% endif %}ock Document
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('document.lock', id=document.id) }}" method="POST">
                    {{ form.csrf_token() }}
                    <div class="modal-body">
                        <div class="alert alert-warning">
                            Warning: This is a potentially destructive action.
                        </div>
                        {{ form_field(form.name) }}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success full-width" type="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}