{% extends "template.html" %}

{% block title %}Patient Consent Information :: Document Portal{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-file"></i> Step One and a Bit: Patient Consent Information</h2>
        </div>

        <p>Please ensure that the patient consent forms are appropriately signed.</p>

        <p>The patient has consent to their sample being used in:</p>

        <form method="POST" action="{{ url_for('document.patient_consent_form_settings', hash=hash ) }}">
            {{ form.csrf_token }}

            {{ form_field(form.academic) }}
            {{ form_field(form.commercial) }}
            {{ form_field(form.animal) }}
            {{ form_field(form.genetic) }}

            {{ form_field(form.submit, with_label=False) }}

        </form>
    </div>
{% endblock %}