{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div id="homepage-jumbotron" class="jumbotron">
        <div class="container">
            <div class="media p-3">
            <img src="{{ url_for('static', filename='images/logos/limbus_logo.svg')}}" class="align-self-center mr-3" style="max-width: 30%; max-height: 120px;">
                <div class="media-body">
                <h1>LImBuS</h1>
                    <h4>A standards compliant, open source Biobank Information Management System.</h4>
            </div>
            </div>
        </div>
    </div>

    <div class="container">

       <div class="row text-center">
      <div class="col-lg-4">
        <h1 class="fa fa-handshake"></h1>
        <h2>Furthering collaboration</h2>
        <p>Put something here about extending collaboration.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h1 class="fa fa-box-open"></h1>
        <h2>Free and Open Source</h2>
        <p>Put something here about the license.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h1 class="fa fa-thumbs-up"></h1>
        <h2>Standards compliant</h2>
        <p>Put something here about standards.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>
{% endblock %}
