{% extends "template.html" %}

{% block title %}Team{% endblock %}


{% block body %}
<div class="container">
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-user-friends"></i> Meet the Team</h1>
          </div>

    <p>Something something, team of academics and...</p>

    <div class="row">
        <div class="col-sm">
            <h6>Keiron O'Shea</h6>
            <p>Developer.</p>
            <p>keo7@aber.ac.uk</p>
        </div>
        <div class="col-sm">
            <h6>Dr. Chuan Lu</h6>
            <p>Project Supervisor.</p>
        </div>
        <div class="col-sm">
            <h6>Dr. Priya Sai-Giridhar</h6>
            <p>Project Supervisor.</p>
        </div>
    </div>

</div>
{% endblock %}