version: '3.2'

services:
  web:
    build:
      context: ./services/web
      dockerfile: Dockerfile
    volumes:
      - ./services/web/:/limbus/
    environment:
      - FLASK_CONFIG=dev
      - FLASK_APP=/limbus/app
      - LANG=C.UTF-8
      - LC_ALL=C.UTF-8
    expose:
      - 5000
    ports:
      - 5000:5000
    depends_on:
      - db
  db:
    image: postgres:10
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: