{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} LIMBCS-{{cs.id}} ({{ cs.alias }}) : New Cold Storage Service Report{% endblock %}

{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading"><i class="fa fa-building"></i> LIMBCS-{{cs.id}}
                        ({{ cs.alias }}) </span>New Service Report</h1>

            </div>
        </div>

        <div class="container">

            <form method="POST" action="{{ url_for('storage.new_cold_storage_servicing_report', id=cs.id) }}">
                {{ form.csrf_token }}
                {{ form_field(form.status) }}
                {{ form_field(form.date) }}
                {{ form_field(form.temp) }}
                {{ form_field(form.conducted_by) }}
                {{ form_field(form.comments) }}
                {{ form_field(form.submit) }}
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>

{% endblock %}