{% extends "template.html" %}


{% block title %}User Accounts : Admin Portal{% endblock %}


{% block body %}

<div class="container">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2><i class="fa fa-user"></i> User Accounts</h2>
        <div class="btn-toolbar">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-plus"></i> Add Account
                </button>
            </div>
        </div>
    </div>


    <div class="alert alert-danger text-center">
        <i class="fa fa-exclamation-triangle"></i> <b>Notice:</b> This is a temporary administration panel.
        </div>

        {% for uid, account in accounts.items() %}
            {{ account }}
        {% endfor %}
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('admin.index' ) }}">
              {{form.csrf_token()}}
              {{form_field(form.title)}}
              {{form_field(form.first_name)}}
              {{form_field(form.middle_name)}}
              {{form_field(form.last_name)}}

              {{form_field(form.email)}}
              {{form_field(form.password)}}
              {{form_field(form.confirm_password)}}
        </div>
        <div class="modal-footer">
          {{form_field(form.submit)}}
        </form>

        </div>
      </div>
    </div>
  </div>


{% endblock %}