{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}Sample Storage Portal{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            
            <h1><i class="fas fa-boxes"></i> Sample Storage Portal</h1>
            
            <div class="row">
                <div class="col-sm-3">
                  <div class="data">
                      <span id="sample_count" class="data large"></span>
                      <span class="data small">Sites</span>
                    </div>
              </div>
                  <div class="col-sm-3">
                      <div class="data">
                          <span id="donor_count" class="data large"></span>
                          <span class="data small">Buildings</span>
                        </div>
                  </div>
                  
                  <div class="col-sm-3">
                      <div class="data">
                          <span id="user_count" class="data large"></span>
                          <span class="data small">Rooms</span>
                        </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="data">
                          <span id="site_count" class="data large"></span>
                          <span class="data small">Cold Storage</span>
                        </div>
                  </div>          
              </div>
      

            <!-- Present Data Here -->
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}
