{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Sample Storage Portal{% endblock %}

{% block body %}

<div id="sidebar-wrapper">
  {{ storage_navbar() }}
  <div class="storage">

    <div id="loading-screen" class="container text-center">
      <div class="loading">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <h1>Just a sec...</h1>
        <h2>Getting the panel ready for you.</h2>
      </div>
    </div>

    <div id="content" style="display: none;">
      <div class="jumbotron">
        <div class="container">
          <h1><i class="fas fa-boxes"></i> Sample Storage Portal</h1>
          <div class="row">
            <div class="col-sm-3">
              <div class="data">
                <span id="site_count" class="data large"></span>
                <span class="data small">Sites</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="data">
                <span id="building_count" class="data large"></span>
                <span class="data small">Buildings</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="data">
                <span id="room_count" class="data large"></span>
                <span class="data small">Rooms</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="data">
                <span id="cold_storage_count" class="data large"></span>
                <span class="data small">Cold Storage</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Cold Storage Type</h4>
            </div>
            <div class="card-body">
              <canvas id="cold_storage_type" width="100%" height="100%"></canvas>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Cold Storage Temperatures</h4>
            </div>
            <div class="card-body">
              <canvas id="cold_storage_temp" width="100%" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/panel.js') }}"></script>

{% endblock %}