{% extends "template.html" %}

{% block title %}New Protocol Event :: Sample Acquisition Portal{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading">
            <a href="{{ sample._links.self }}">
                <i class="fas fa-vial"></i> {{ sample.uuid }}</a></span>
        <i class="fa fa-project-diagram"></i> New Protocol Event </h1>
    </div>
</div>
<div class="container">
    



    <form action="{{ url_for('sample.associate_protocol_event', uuid=sample.uuid) }}" method="POST">
        {{ form.csrf_token() }}
        {{ form_field(form.protocol_id) }}
        <div class="row">
            <div class="col-6">
                {{ form_field(form.date) }}
            </div>
            <div class="col-6">
                {{ form_field(form.time) }}
            </div>
        </div>
        {{ form_field(form.comments) }}
        {{ form_field(form.undertaken_by) }}

        {{ form_field(form.submit) }}
    </form>


</div>
{% endblock %}