{% extends "template.html" %}


{% block title %}Forgot Password{% endblock %}

{% block body %}

<div class="container" style="padding-top: 1em; max-width: 800px;">
    <div class="card" style="margin-bottom: 2em;">
        <div class="card-header bg-primary text-white">
            Keep your information secure
        </div>
        <div class="card-body">
            Do not share your LImBuS log in details with anyone else. 
        </div>
    </div>

    <h1><i class="fa fa-key"></i> Reset password</h1>

    <form method="POST" action="{{ url_for('admin.auth_forget_password' ) }}">
        {{ form.csrf_token }}
        {{ form_field(form.email) }}
        {{ form_field(form.submit) }}
    </form>

    <p>If you don't have an account or forgot the email registered for your account, please contact the system administrator.</p>
</div>




{% endblock %}
