{% extends "template.html" %}


{% block title %}{{user.email}}: User Account{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1>
            <span class="secondary-heading">
                <i class="fa fa-key"></i> Password Reset Form
            </span>
            <i class="fa fa-user"></i> {{ user.email }}</h1>
        </div>


    </div>
</div>
<div class="container">

    <p>Type in the users email address to confirm that you want to send a password reset form.</p>
    <form action="{{ url_for('admin.admin_password_reset', id=user.id) }}" method="POST">
        {{ form.csrf_token() }}
        {{ form_field(form.email) }}
        {{ form_field(form.submit) }}
    </form>

</div>

{% endblock %}