{% extends "template.html" %}


{% block title %}{{user.email}}: User Account{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading"><i class="fa fa-cog"></i> Administrator Panel</span><i class="fa fa-user"></i> {{ user.email }} </h1>

        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#lock-modal">
                    <i class="fa fa-lock"></i> {% if user.is_locked %}Unl{%else%}L{%endif%}ock Account
                </button>

            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href={{ url_for("admin.admin_edit_account", id=user.id) }}>
                <button type="button" class="btn btn-outline-dark">
                    <i class="fa fa-cog" aria-hidden="true"></i> Settings
                </button></a>
            </div>

            <a href="{{ url_for('admin.admin_password_reset', id=user.id) }}">

            <div class="btn btn-outline-dark">
                <i class="fa fa-key" aria-hidden="true"></i> Send Password Reset Email
            </div>
            </a>

            
        </div>
    {% if not user.is_locked %}
            <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">

        </div>
    {%endif%}

    </div>
</div>
<div class="container">


    <div class="row">
        <div class="col col-sm-7">
            <h2>Personal Information</h2>
            <table class="table table-striped">

                {{ show_value(user.email, "Email Address", "text") }}
                {{ show_value(user.title, "Title", "text") }}
                {{ show_value(user.first_name, "First Name", "text") }}
                {{ show_value(user.middle_name, "Middle Name", "text") }}
                {{ show_value(user.last_name, "Last Name", "text") }}
            </table>

            <h2>Site Information</h2>
            <table class="table table-striped">

                {{ show_value(user.site.name, "Site Name", "text") }}

            </table>
            <h4>Address</h4>
            <table class="table table-striped">

                {{ show_value(user.site.address.street_address_one, "Address Line One", "text") }}
                {{ show_value(user.site.address.street_address_two, "Address Line Two", "text") }}
                {{ show_value(user.site.address.city, "City", "text") }}
                {{ show_value(user.site.address.county, "County", "text") }}
                {{ show_value(user.site.address.country, "Country", "text") }}
                {{ show_value(user.site.address.post_code, "Post Code", "text") }}
            </table>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header text-center">
                    Avatar
                </div>
                <div class="card-body">
                    <div class="row">
                        <img src="{{ user.gravatar }}" class="mx-auto d-block rounded-circle">
                    </div>
                </div>
            </div>


            <h2>Account Information</h2>
            <table class="table table-striped">

                {{ show_value(user.created_on, "Created On", "text") }}
                {{ show_value(user.account_type, "Account Type", "text") }}
            </table>

            <h2>Token Information</h2>
            <table class="table table-striped">

                {{ show_value(user.token.created_on, "Created On", "text") }}
                {{ show_value(user.token.updated_on, "Updated On", "text") }}
            </table>

        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="lock-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
              {%if user.is_locked %}Unl{%else %}L{% endif %}ock User Account
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('admin.auth_view_account', id=user.id) }}" method="POST">
                {{ form.csrf_token() }}
                {{ form_field(form.email) }}
                {{ form_field(form.submit) }}
            </form>

        </div>

      </div>
    </div>
  </div>

{% endblock %}