{% extends "template.html" %}



{% block title %}LIMBPCF-{{ template.id }}{% endblock %}


{% block body %}
    <div class="container">
        <h1>
            <span class="secondary-heading">
                <a href="{{ url_for('consent.index') }}">
                    <i class="fa fa-question-circle"></i> Patient Consent Form Portal
                </a>
            </span>
            LIMBPCF-{{ template.id }}: {{ template.name }}
        </h1>


        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('consent.edit_template', id=template.id) }}">
                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit Details</button>
                </a>
            </div>

        </div>


                <h2>Template Information</h2>

                {{ show_value(template.description, "Description", "text") }}
                {{ show_value(template.version, "Version", "text") }}
                {{ show_value(render_author_for_table(template.author), "Author", "text") }}


        <h2>
            Questions
            {% if not template.is_locked %}
                <a href="{{ url_for('consent.new_question', id=template.id) }}">
                    <div class="btn btn-primary float-right"><i class="fa fa-upload"></i> New Question</div>
                </a>
            {% endif %}
        </h2>

        <table id="documents" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Question</th>
                <th>Document Type</th>
                <th>Uploader</th>
                <th>Created On</th>
            </tr>
            </thead>
            <tbody>
            {% for question in template.questions %}
                <tr>
                    <td>
                        <a href="#">
                            <i class="fa fa-question-circle"></i> {{ question.question }}
                        </a>
                    </td>
                    <td>{{ question.type }}</td>
                    <td>{{ render_author_for_table(question.author) }}</td>
                    <td>{{ question.created_on }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Associated Samples</h2>

    </div>

{% endblock %}