{% extends "template.html" %}

{% block title %}New Sample: Collection and Consent Information{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Collection and Consent
            Information</h1>
        {{ render_progress(1, 8) }}

    </div>
</div>

<div class="container">



    {% if collection_protocol_count > 0 and template_count > 0 and processing_protocols_count >0 %}

    <form action="{{ url_for('sample.add_collection_consent_and_barcode') }}" method="POST">
        {{ form.csrf_token }}
        {{ form_field(form.barcode) }}

        {{ form_field(form.collection_select, with_view=True, view_endpoint=url_for('protocol.view', id=" ", _external=True)) }}

        <div class="alert alert-warning" role="alert">
            <b>Notice:</b> If you are unable to find the suitable collection protocol, it's likely
            that you have yet to add it. <a href="{{ url_for('protocol.new') }}">Click here</a> to add a new
            collection protocol.
        </div>
        {{ form_field(form.collection_site) }}

        <div class="row">
            <div class="col-6">
                {{ form_field(form.collection_date) }}
            </div>
            <div class="col-6">
                {{ form_field(form.collection_time) }}

            </div>
        </div>
        {{ form_field(form.collected_by) }}


        {{ form_field(form.consent_select, with_view=True, view_endpoint=url_for('consent.view', id=" ", _external=True)) }}

        <div class="alert alert-warning" role="alert">
            <b>Notice:</b> If you are unable to find the patient consent form, it's likely that you have yet to add it.
            <a href="{{ url_for('consent.add')}}">Click here</a> to add a new patient consent form.
        </div>

        {{ form_field(form.disposal_instruction) }}
        {{ form_field(form.disposal_date) }}

        {{ form_field(form.submit) }}

    </form>

    {% else %}
    <div class="row">
        <div class="col-4">
            {% if template_count == 0 %}
            <div class="jumbotron alert-danger full-width text-center container">
                <h1>😔</h1>
                <h2>No Consent Form Templates Found</h2>
                <p>There doesn't seem to be any form templates available.</p>
                <a href="{{ url_for('consent.add') }}">
                    <div class="btn btn-outline-dark">
                        New Consent Form Template
                    </div>
                </a>
            </div>
            {% else %}
            <div class="jumbotron alert-success full-width text-center container">
                <h1>:D</h1>
                <h2>Consent Form Template(s) Found!</h2>
            </div>
            {% endif %}

        </div>
        <div class="col-4">
            {% if collection_protocol_count == 0 %}
            <div class="jumbotron alert-danger full-width text-center container">
                <h1>😔</h1>
                <h2>No Acquisition Protocol(s) Found</h2>
                <p>There doesn't seem to be any acquisition protocols available.</p>
                <a href="{{ url_for('protocol.new') }}">
                    <div class="btn btn-outline-dark">
                        New Protocol
                    </div>
                </a>
            </div>
            {% else %}
            <div class="jumbotron alert-success full-width text-center">
                <h1>:D</h1>
                <h2>Collection Protocol(s) Found!</h2>

            </div>
            {% endif %}
        </div>
        <div class="col-4">
            {% if processing_protocols_count == 0 %}
            <div class="jumbotron alert-danger full-width text-center">
                <h1>😔</h1>
                <h2>No Processing Protocol(s) Found</h2>
                <p>There doesn't seem to be any processing protocols available.</p>
                <a href="{{ url_for('protocol.new') }}">
                    <div class="btn btn-outline-dark">
                        New Protocol
                    </div>
                </a>
            </div>
            {% else %}
            <div class="jumbotron alert-success full-width text-center">
                <h1>:D</h1>
                <h2>Processing Protocol(s) Found!</h2>
            </div>
            {% endif  %}
        </div>
    </div>


    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/information/add/step_one.js') }}"></script>
add
{% endblock %}