{% extends "template.html" %}


{% block title %}New Sample: Sample and Storage Type{%endblock%}

{% block body %}


<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Sample and Storage Type</h1>
        {{ render_progress(3, 3) }}
    </div>
</div>
<div class="container">

    <div id="sample-type-hidden" style="display: none;">{{ sample_information["type"] }}</div>

    <form action="{{ url_for('sample.add_step_three', hash=hash) }}" method="POST">
        {{ form.csrf_token }}



        {{ form_field(form.quantity, q=True) }}
        {% if sample_information["type"] == "FLU" %}
            {{ form_field(form.fluid_sample_type) }}
            {{ form_field(form.fluid_container) }}
        {% elif sample_information["type"] == "CEL" %}
            {{ form_field(form.cell_sample_type) }}
            {{ form_field(form.tissue_sample_type) }}
            {{ form_field(form.cell_container) }}
            {{ form_field(form.fixation_type) }}
        {% else %}
            {{ form_field(form.molecular_sample_type) }}
            {{ form_field(form.fluid_container) }}

        {% endif %}
        {{ form_field(form.biohazard_level) }}

        <div class="alert alert-warning" role="alert">
            <b>Notice:</b> These reference BSL standards. If you are not sure what to select, feel free to
            refer to <a href="{{ url_for('sample.biohazard_information') }}" target="_blank">this document</a>.
        </div>

        {{ form_field(form.submit) }}
    </form>

</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/information/add/step_three.js') }}"></script>
{% endblock %}