{% extends "template.html" %}

{% block title %}Enter Donor Consent Form Details{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Enter Donor Consent Form
            Details</h1>
        {{ render_progress(2, 3) }}

    </div>
</div>

<div class="container">


    <form action="{{ url_for('sample.add_step_two', hash=hash) }}" method="POST">

        {{ form.csrf_token() }}
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <h2>{{ consent_template.name }}</h2>
                    <h3>Version: {{ consent_template.version }}</h3>
                </div>

                {{ form_field(form.identifier) }}
            </div>
            <ul id="#questionnaire-list" class="list-group list-group-flush">
                {% set count = namespace(value=0) %}
                {% for question in form %}
                {% if (question.type == "BooleanField") %}
                {% set count.value = count.value + 1 %}
                {{ render_question( question, count.value ) }}
                {% endif %}
                {% endfor %}
            </ul>

            <div class="card-body">
                <div id="check-button" class="btn btn-success full-width">
                    <span id="check-status">Check</span> All
                </div>
            </div>

            <div class="card-footer">
                {{ form_field(form.comments) }}

            <div class="row">
                <div class="col-6">
                    {{ form_field(form.date) }}
                </div>
                <div class="col-6">
                    {{ form_field(form.undertaken_by) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_field(form.study_select) }}
                </div>
                <div class="col-12" id="study_reference_id_div" style="display: none;">
                    {{ form_field(form.study.reference_id)}}
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="study_comments_div" style="display: none">
                    {{ form_field(form.study.comments) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6"  id="study_date_div" style="display: none;">
                    {{ form_field(form.study.date) }}

                </div>
                <div class="col-6" id="study_undertaken_by_div" style="display: none;">
                    {{ form_field(form.study.undertaken_by) }}
                </div>
            </div>

            </div>
        </div>

        {{ form_field(form.submit) }}

    </form>
</div>

<!--- Confirmation -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="confirmation-label">Confirmation</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="confirmation-msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/donor/donor_consent_questionnaire.js') }}"></script>
<script src="{{ url_for('static', filename='js/sample/information/add/consent.js') }}"></script>

{% endblock %}