{% extends "template.html" %}

{% block title %}Sites{% endblock %}

{% block body %}

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-building"></i> Sites</h2>
            <div class="btn-toolbar">
                <div class="btn-group mr-2">
                    <a href="{{ url_for('storage.add_site') }}">
                        <div class="btn btn-primary">
                            <i class="fas fa-plus"></i> Add Site
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <table id="sites" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Upload Date</th>
                <th>Uploader</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site, uploader in sites %}
                <tr>
                    <td>LIMBSIT-{{ site.id }}: {{ site.name }}</td>
                    <td>{{ site.creation_date.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <img class="rounded-circle float-right"
                             src="https://www.gravatar.com/avatar/{{ uploader.gravatar }}?s=20">
                        {{ uploader.name }}
                    </td>
                    <td>
                        <a href="{{ url_for('storage.view_site', id=site.id) }}">
                            <btn class="btn btn-sm btn-primary">
                                <i class="fa fa-eye"></i> View
                            </btn>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}