{% extends "template.html" %}

{% block title %}New Attribute{%endblock %}

{% block body %}

    <div class="container">

        <h1>
            <span class="secondary-heading">
                <a href="{{ url_for("attribute.index") }}">
                    <i class="fab fa-buffer"></i> Attribute Portal
                </a>
            </span>
            New Attribute : Additional Information
        </h1>


        <form action="{{ url_for('attribute.new_step_two', hash=hash) }}" method="POST">
            {{ form.csrf_token() }}

            {% if attribute_type == "TEXT" %}
                {{ form_field(form.max_length) }}
                {{ form_field(form.type) }}
            {% elif attribute_type == "NUMERIC" %}
            {% endif %}
            {{ form_field(form.submit) }}
        </form>

    </div>
{% endblock %}