{% extends "template.html" %}

{% block title %}New Attribute{%endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                <span class="secondary-heading">
                    <a href="{{ url_for("attribute.view", id=attribute_id) }}">
                        <i class="fab fa-buffer"></i> LIMBATTR-{{ attribute_id }}
                    </a>
                </span>
                New Option
            </h1>
    
        </div>
    </div>
    <div class="container">


        <form action="{{ url_for('attribute.new_option', id=attribute_id) }}" method="POST">
		{{ form.csrf_token  }}
		{{ form_field(form.term) }}
		{{ form_field(form.accession) }}
		{{ form_field(form.ref) }}
		{{ form_field(form.submit) }}
        </form>

    </div>
{% endblock %}
