{% extends "template.html" %}

{% block title %}New Sample: Select Sample Processing Protocol{% endblock %}


{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> New Sample: Select Sample Processing Protocol</h2>
        </div>

            {{ render_progress(4, 6) }}


        <p>Before we continue, you must first link the sample to processing protocol template.</p>


        {% if templates > 0 %}
            <form action="{{ url_for('sample.select_processing_protocol', hash=hash) }}" method="POST">
                {{ form.csrf_token }}
                {{ form_field(form.form_select) }}
                {{ form_field(form.sample_status) }}

                <div class="row">
                    <div class="col-6">
                        {{ form_field(form.processing_date) }}
                    </div>
                    <div class="col-6">
                        {{ form_field(form.processing_time) }}
                    </div>
                </div>
                {{ form_field(form.submit) }}
            </form>
        {% else %}



        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_four.js') }}"></script>
{% endblock %}