{% extends "template.html" %}

{% block title %}New Sample: Collection and Consent Information{% endblock %}

{% block body %}
    <div class="container">
        
        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Collection and Consent Information</h1>
        {{ render_progress(1, 7) }}


        {% if collection_protocol_count > 0 and template_count > 0%}

            <form action="{{ url_for('sample.add_collection_consent_and_barcode') }}" method="POST">
                {{ form.csrf_token }}
                {{ form_field(form.barcode) }}


                {{ form_field(form.collection_select) }}

                <div class="alert alert-warning" role="alert">
                    <b>Notice:</b> If you are unable to find the suitable collection protocol, it's likely
                    that you have yet to add it. <a href="{{ url_for('protocol.new') }}">Click here</a> to add a new
                    collection protocol.
                </div>
                {{ form_field(form.collected_by) }}
                {{ form_field(form.collection_date) }}

                {{ form_field(form.consent_select) }}

                <div class="alert alert-warning" role="alert">
                    <b>Notice:</b> If you are unable to find the patient consent form, it's likely that you have yet to add it.
                    <a href="{{ url_for('consent.add') }}">Click here</a> to add a new patient consent form.
                </div>

                {{ form_field(form.disposal_instruction) }}
                {{ form_field(form.disposal_date) }}

                {{ form_field(form.submit) }}

            </form>
            
        {% else %}
            <div class="row">
                <div class="col">
                    {% if template_count == 0 %}
                    {{ render_warning(
                    "No Suitable Patient Consent Form Found",
                    [
                        "There are no suitable patient consent form templates found.",
                        "Please add one before adding a sample."
                     ], 'consent.add', "New Patient Consent Form Template", True, True
                ) }}
                        {% else %}
                        {{ render_success(
                        "Patient Consent Forms"
                        ) }}
                        {% endif %}

                </div>
                <div class="col">
                    {% if template_count == 0 %}
                    {{ render_warning(
                    "No Suitable Processing Protocol Found",
                    [
                        "There are no suitable sample processing protocols found.",
                        "Please add one before adding a sample."
                     ], 'protocol.new', "New Sample Processing Protocol", True, True
                ) }}
                        {% else %}
                        {{ render_success(
                        "Processing Protocols"
                        ) }}
                        {% endif %}

                </div>
            </div>


        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_one.js') }}"></script>
{% endblock %}
