{% extends "template.html" %}

{% block title %}New Sample: Select Sample Processing Protocol{% endblock %}


{% block body %}
    <div class="container">

        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Sample Processing Information</h1>
        {{ render_progress(4, 7) }}

        <p>Before we continue, you must first link the sample to processing protocol template.</p>

        
        {% if form.form_select.choices|length > 0 %}
            <form action="{{ url_for('sample.select_processing_protocol', hash=hash) }}" method="POST">
                {{ form.csrf_token }}
                {{ form_field(form.form_select) }}
                {{ form_field(form.sample_status) }}

                <div class="row">
                    <div class="col-6">
                        {{ form_field(form.processing_date) }}
                    </div>
                    <div class="col-6">
                        {{ form_field(form.processing_time) }}
                    </div>
                </div>
                {{ form_field(form.submit) }}
            </form>
        {% else %}
            <h1>Naughty Naughty!</h1>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_four.js') }}"></script>
{% endblock %}