{% extends "template.html" %}

{% block title %}Final Information{% endblock %}

{% block body %}
    <div class="container">

        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Final Information</h1>
        {{ render_progress(6, 7) }}

        <form method="POST" action="{{ url_for('sample.add_sample_final_form', hash=hash) }}">
            {{ form_field(form.colour) }}
            {{ form_field(form.submit) }}
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_six.js') }}"></script>
{% endblock %}