{% extends "template.html" %}

{% set title = "New Sample: Enter Patient Consent Form" %}

{% block head %}
<link href="{{ url_for('static', filename='css/sample/information/add/step_two.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="container">
        {{ render_progress(2, 6) }}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> {{ title }}</h2>
        </div>


        <h3>{{ pcf.name }}</h3>

        <p>Please replicate what the donor has checked on the physical consent sheet in order to continue.</p>

        <form action="{{ url_for('sample.add_sample_pcf_data', hash=hash) }}" method="POST">
            {{ questionnaire.csrf_token() }}
            <div class="list-group" id="questionnaire-list">
                {% for question in questionnaire %}
                    {% if (question.type == "BooleanField") %}
                        {{ render_question( question, loop.index0 ) }}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- {{ form_field(questionnaire.submit) }} -->
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#confirmModal">
                Confirm
            </button>

            <div id="confirmModal" class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ pcf.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      {{ questionnaire.csrf_token() }}
                      <div class="list-group" id="questionnaire-list">
                          {% for question in questionnaire %}
                              {% if (question.type == "BooleanField") %}
                              <div id="list-question-{{loop.index0 + 1}}-m" class="list-group-item flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                      <p class="mb-1">{{ question.label.text }}</p>
                                      <i class="fa fa-check-circle"></i>
                                  </div>
                              </div>
                              {% endif %}
                          {% endfor %}
                      </div>
                      {{ form_field(questionnaire.submit) }}
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_two.js') }}"></script>
{% endblock %}
