{% extends "template.html" %}


{% block title %}Custom Attribute Selection{% endblock %}



{% block body %}
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Custom Attribute Selection</h1>
        {{ render_progress(5, 6) }}

        <form action="{{ url_for('sample.add_custom_atributes', hash=hash) }}" method="POST">
            {{ form.csrf_token }}

            {% for field in form %}
                {% if field.render_kw %}
                    {{ field.render_kw }}
                {% endif %}
            {% endfor %}

            {{ form_field(form.submit) }}
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_five.js') }}"></script>
{% endblock %}