{% extends "template.html" %}


{% block title %}Custom Attribute Selection{% endblock %}



{% block body %}
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-vial"></i> New Sample</span> Custom Attribute Selection</h1>
        {{ render_progress(5, 8) }}

        <form action="{{ url_for('sample.add_custom_atributes', hash=hash) }}" method="POST">
            {{ form.csrf_token }}

        <table id="sampleTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Field</th>
                <th>Creation Date</th>
                <th>Creator</th>
                <th>Include</th>
            </tr>
            </thead>
            <tbody>
                {% for field in form %}
                    {% if field.render_kw %}
                        <tr>
                            <td>
                                <p><a href="{{ url_for('attribute.view', id=field.render_kw.attribute.id) }}">
                                    <i class="fab fa-buffer"></i> LIMBATTR-{{ field.render_kw.attribute.id }}: {{ field.render_kw.attribute.term }}
                                </a>
                                </p>
                                <p>Description: {{ field.render_kw.attribute.description }}</p>
                            </td>
                            <td>
                                {{ field.render_kw.attribute.created_on }}
                            </td>
                            <td>{{ render_author_for_table(field.render_kw.attribute.author) }}</td>
                            <td>{{ field() }}</td>
                        </tr>

                    {% endif %}

                {% endfor %}
            </tbody>

            </table>
            {{ form_field(form.submit) }}

        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_five.js') }}"></script>
{% endblock %}