{% extends "template.html" %}

{% block title %}New Patient Consent Form Template{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-question-circle"></i> New Patient Consent Form Template: Step One
            </h2>
        </div>


        <form method="POST" action="{{ url_for('pcf.new' ) }}">
            {{ form.csrf_token }}
            {{ form_field(form.name) }}
            {{ form_field(form.submit, with_label=False) }}
        </form>
    </div>
{% endblock %}