{% extends "template.html" %}

{% block title %}New Patient Consent Form Template{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-question-circle"></i> New Patient Consent Form Template: Step Two</h2>

            <div class="btn-toolbar">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-plus"></i> Add Question
                    </button>
                </div>

            </div>
        </div>


        <div id="questionsToSubmit" class="list-group">

        </div>

        <br>

        <button id="submitButton" class="btn btn-success float-right">
            <i class="fa fa-check"></i> Submit
        </button>


    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Question:</label>
                        <textarea type="text" class="form-control" id="questionInput"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="submitOption" class="btn btn-primary">Save Question</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascript %}
    <script src="{{ url_for('static', filename='js/patientconsentform/add/two.js') }}"></script>
{% endblock %}
