{% extends "template.html" %}

{% block title %}Add Sample{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> Step Six: Enter Sample Attribute Information</h2>
        </div>
        {{ render_progress(6, 6) }}

        <form method="POST" action="{{ url_for('sample.add_sample_form', hash=hash) }}">
            {{ form.csrf_token }}
            {{ form_field(form.collection_date) }}
            {{ form_field(form.disposal_instruction) }}
            {{ form_field(form.disposal_date) }}

            <h3>Custom Attributes</h3>

            {% for attribute in form %}
                {% if attribute.render_kw._custom_val %}
                    {{ form_field(attribute) }}
                {% endif %}
            {% endfor %}

            {{ form_field(form.submit) }}
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_six.js') }}"></script>
{% endblock %}