{% extends "template.html" %}

{% set page_title = "New Sample: Step Five" %}

{% block title %}{{ page_title }}{% endblock %}



{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> {{ page_title }}</h2>
        </div>
        {{ render_progress(5, 6) }}

        {% if num_attr > 0 %}


        {% else %}
            {{ render_warning(
                    "No Sample Attributes Found",
                    [
                        "There are no suitable patient consent form templates found.",
                        "Please add one before adding a sample.",
                     ], 'sample.add_attribute', "New Attribute", True, True
                ) }}
        {% endif %}
        <form action="{{ url_for('sample.add_sample_attr', hash=hash) }}" method="POST">
            {{ form.csrf_token }}
            {{ generate_attribute_select_form(form) }}
            {{ form_field(form.submit) }}
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_two.js') }}"></script>
{% endblock %}