{% extends "template.html" %}

{% set title = "New Sample: Select Patient Consent Form" %}

{% block body %}
    <div class="container">
        {{ render_progress(1, 6) }}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> {{ title }}</h2>
        </div>


        {% if pcf_documents > 0 and template_count > 0 %}

            <p>Before we continue, you must first link the sample to a patient consent form.</p>


            <p>If you are unable to find the patient consent form template please take a look at the
            </p>

            <form action="{{ url_for('sample.add_sample_pcf') }}" method="POST">
                {{ form.csrf_token }}
                {{ form_field(form.form_select) }}
                {{ form_field(form.submit) }}
            </form>
        {% else %}
            <div class="row">
                <div class="col">
                    {% if pcf_documents == 0 %}
                    {{ render_warning(
                    "No Suitable Patient Consent Form Found",
                    [
                        "There are no suitable patient consent form templates found.",
                        "Please add one before adding a sample."
                     ], 'pcf.new', "New Patient Consent Form Template", True, True
                ) }}
                        {% else %}
                        {{ render_success(
                        "Patient Consent Forms"
                        ) }}
                        {% endif %}

                </div>
                <div class="col">
                    {% if template_count == 0 %}
                    {{ render_warning(
                    "No Suitable Processing Protocol Found",
                    [
                        "There are no suitable sample processing protocols found.",
                        "Please add one before adding a sample."
                     ], 'processing.new_protocol', "New Sample Processing Protocol", True, True
                ) }}
                        {% else %}
                        {{ render_success(
                        "Processing Protocols"
                        ) }}
                        {% endif %}

                </div>
            </div>


        {% endif %}
    </div>
{% endblock %}