{% extends "template.html" %}

{% set title = "New Sample: Enter Patient Consent Form" %}


{% block body %}
    <div class="container">
        {{ render_progress(2, 6) }}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> {{ title }}</h2>
        </div>


        <h3>{{ pcf.name }}</h3>

        <p>Please replicate what the donor has checked on the physical consent sheet in order to continue.</p>

        <form action="{{ url_for('sample.add_sample_pcf_data', hash=hash) }}" method="POST">
            {{ questionnaire.csrf_token() }}
            <div class="list-group">

                {% for question in questionnaire %}
                    {% if (question.type == "BooleanField") %}
                        {{ render_question( question, loop.index0 ) }}
                    {% endif %}
                {% endfor %}
            </div>
            {{ form_field(questionnaire.submit) }}

        </form>
    </div>
{% endblock %}

