{% extends "template.html" %}

{% block title %}New Sample: Step One{% endblock %}



{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> New Sample: Step One</h2>
        </div>

        <p>Before we continue, you must first link the sample to a patient consent form.</p>

        <p>If you are unable to find the patient consent form template....</p>


        {% if pcf_documents > 0 %}
            <form action="{{ url_for('sample.add_sample_pcf') }}" method="POST">
                {{ form.csrf_token }}
                {{ form_field(form.form_select) }}
                {{ form_field(form.submit) }}
            </form>
        {% else %}

            <p>There are no patient consent form templates, please create one before continuing.</p>

            <a href="{{ url_for('pcf.new') }}">
                <div class="btn btn-primary">
                    <i class="fa fa-plus"></i> Add Patient Consent Form Template
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}