{% extends "template.html" %}

{% block title %}New Sample: Step Two{% endblock %}



{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> New Sample: Step Three</h2>
        </div>

        <p>Please select some Sample Attributes:</p>

        <form action="{{ url_for('sample.add_sample_attr', hash=hash) }}" method="POST">
            {{ form.csrf_token }}
            {{ generate_attribute_select_form(form) }}
            {{ form_field(form.submit) }}

        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/information/add/step_two.js') }}"></script>
{% endblock %}