{% extends "template.html" %}

{% block title %}New Sample: Step One{% endblock %}



{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> New Sample: Step One</h2>
        </div>

        <p>Before we continue, you must first link the sample to a patient consent form.</p>



        {% if pcf_documents > 0 %}

            <p>If you are unable to find the patient consent form template please take a look at the
            </p>

            <form action="{{ url_for('sample.add_sample_pcf') }}" method="POST">
                {{ form.csrf_token }}
                {{ form_field(form.form_select) }}
                {{ form_field(form.submit) }}
            </form>
        {% else %}

            {{ render_warning(
                    "No Suitable Patient Consent Form Found",
                    [
                        "There are no suitable patient consent form templates found.",
                        "Please add one before adding a sample."
                     ], 'pcf.new', "New Patient Consent Form Template", True
                ) }}


        {% endif %}
    </div>
{% endblock %}