{% extends "template.html" %}

{% block title %}New Sample: Step Two{% endblock %}

{% set count = 0 %}


{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-vial"></i> New Sample: Step Two</h2>
        </div>

        {{ render_progress(2, 6) }}

        <h3>{{ pcf.name }}</h3>

        <p>Please replicate what the donor has checked on the physical consent sheet in order to continue.</p>

        <form action="{{ url_for('sample.add_sample_pcf_data', hash=hash) }}" method="POST">
            {{ questionnaire.csrf_token() }}
            <div class="list-group">
                {% for question in questionnaire %}
                    {% if (question.type == "BooleanField") %}
                        {% set count = count + 1 %}
                        {{ render_question( question, count) }}

                    {% endif %}
                {% endfor %}
            </div>
            {{ form_field(questionnaire.submit) }}

        </form>
    </div>
{% endblock %}

