{% extends "template.html" %}

{% block title %}New Diagnostic Procedure{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading"><i class="fa fa-stethoscope"></i> Diagnostic Procedure</span>New Procedure</h1>

    </div>
</div>

<div class="container">


    <form method="POST" action="{{ url_for('procedure.new') }}" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        {{ form_field(form.name) }}
        {{ form_field(form.version) }}
        {{ form_field(form.description) }}
        {{ form_field(form.submit) }}

    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/procedure/new.js') }}"></script>
{% endblock %}