{% extends "template.html" %}

{% block title %}New Container : Container Portal{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h2 class="secondary-heading">
            <a href="{{ url_for('container.index') }}">
                <i class="fa fa-dot-circle"></i> Container Portal
            </a>
        </h2>
        <h1>
            
        <i class="fa fa-plus"></i> New Container</h1>

    </div>
</div>
<div class="container">

    {{ form_field(form.name) }}
    {{ form_field(form.manufacturer) }}
    {{ form_field(form.description) }}

    {{ form_field(form.colour) }}
    {{ form_field(form.used_for) }}

    {{ form_field(form.temperature) }}

    <div class="row">
        <div class="col-sm-4">
            {{ form_field(form.fluid) }}
        </div>
        <div class="col-sm-4">
            {{ form_field(form.cellular) }}
        </div>
        <div class="col-sm-4">
            {{ form_field(form.tissue) }}
        </div>
    </div>

    {{ form_field(form.sample_rack) }}
    {{ form_field(form.submit) }}


</div>
{% endblock %}

