{% extends "template.html" %}

{% block title %}Free your Biobank{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>Biobanking made easy</h1>
                
                <H2>The Libre Biobank Management System is a free and open source BIMS built around the needs of its users.</H2>

                <a href="https://www.github.com/AberystwythSystemsBiology/limbus">
                    <div class="btn btn-lg">
                        View the Repository
                    </div>
                </a>
            </div>
            <div class="col-5">
                <img src="{{ url_for('static', filename='images/laptop.png') }}" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='images/phone.png') }}" width="100%">
        </div>
        <div class="col-9 text-center">
            <h1> Help us build the kind of biobank you want to use </h1>
            <div class="row ">
                <div class="col-lg-6 vertical-center">
                    <h1 class="fa fa-handshake"></h1>
                    <h2>Furthering collaboration</h2>
                    <p>We believe in the unique combination of academic collaboration and the power of Free and Open
                        Source Software.</p>
                    <p><a class="btn btn-primary" href="{{ url_for('misc.team') }}" role="button">Meet the Team</a></p>
                </div>
                <div class="col-lg-6">
                    <h1 class="fa fa-box-open"></h1>
                    <h2>Free and Open Source</h2>
                    <p>This project is proudly licensed under the terms of the GPLv3+.</p>
                    <p>This means that it will be free, forever.</p>
                    <p><a class="btn btn-primary" href="{{ url_for('misc.license') }}" role="button">View License</a></p>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

