{% extends "template.html" %}

{% block title %}Overview Panel{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div id="loading-screen" class="container text-center">
  <div class="loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <h1>Just a sec...</h1>
    <h2>Getting the panel ready for you.</h2>
  </div>
</div>

<div id="content" style="display: none;">
  <div class="jumbotron" style="margin-top:-15px;">
    <div class="container">
      <h1><span class="secondary-heading"><i class="fa fa-solar-panel"></i> Overview Panel</span><span
          id="biobank-name"></span></h1>

      <div class="row">
        <div class="col-sm-3">
          <div class="data">
            <span id="sample-count" class="data large"></span>
            <span class="data small">Samples</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="data">
            <span id="donor-count" class="data large"></span>
            <span class="data small">Donors</span>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="data">
            <span id="user-count" class="data large"></span>
            <span class="data small">Users</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="data">
            <span id="site-count" class="data large"></span>
            <span class="data small">Sites</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-background">

    <div class="container">


      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sample Status</h4>
          </div>
          <div class="card-body" id="sample-status-div">
            <canvas id="sample-status" width="100%" height="100%"></canvas>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sample Type</h4>
          </div>
          <div class="card-body" id="sample-source-div">
            <canvas id="sample-source" width="100%" height="100%"></canvas>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sample Type</h4>
          </div>
          <div class="card-body" id="sample-type-div">
            <canvas id="sample-type" width="100%" height="100%"></canvas>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Biohazard Level</h4>
          </div>
          <div class="card-body" id="sample-biohazard-div">
            <canvas id="sample-biohazard" width="100%" height="100%"></canvas>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-9">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Donor Status</h4>
              </div>
              <div class="card-body" id="donor-status-div">
                <canvas id="donor-status" width="100%" height="100%"></canvas>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Donor Sex</h4>
              </div>
              <div class="card-body" id="donor-sex-div">
                <canvas id="donor-sex" width="100%" height="100%"></canvas>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Donor Race</h4>
              </div>
              <div class="card-body" id="donor-race-div">
                <canvas id="donor-race" width="100%" height="100%"></canvas>
              </div>
            </div>

          </div>


          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Document Type</h4>
              </div>
              <div class="card-body" id="document-type-id">
                <canvas id="document-type" width="100%" height="100%"></canvas>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Attribute Type</h4>
              </div>
              <div class="card-body" id="attribute-type-div">
                <canvas id="attribute-type" width="100%" height="100%"></canvas>
              </div>
            </div>
            <div class="card mb-4 box-shadow">
              <div class="card-header" id="protocol-type-div">
                <h4 class="my-0 font-weight-normal">Protocol Type</h4>
              </div>
              <div class="card-body">
                <canvas id="protocol-type" width="100%" height="100%"></canvas>
              </div>
            </div>

          </div>

        </div>
        <div class="col-3">
          <div class="card mb-4 box-shadow text-center">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Reminders</h4>
            </div>
            <div class="card-body">
              <h2>Coming Soon</h2>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/misc/panel.js') }}"></script>

{% endblock %}