{% extends "template.html" %}

{% block title %}Overview Panel{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1><span class="secondary-heading"><i class="fa fa-solar-panel"></i> {{ biobank.name }}</span>Data Overview Panel</h1>

        <div class="row">
            <div class="col-sm-3">
                <div class="data">
                    <span class="data large">24</span>
                    <span class="data small">Donors</span>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="data">
                    <span class="data large">144</span>
                    <span class="data small">Samples</span>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="data">
                    <span class="data large">4</span>
                    <span class="data small">Users</span>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="data">
                    <span class="data large">2</span>
                    <span class="data small">Sites</span>
                  </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <canvas id="doughnut-chart" width="800" height="450"></canvas>
                </div>
                <div class="col-sm-6">
                    <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <canvas id="line-chart" width="800" height="450"></canvas>
                </div>
                <div class="col-sm-6">
                    <canvas id="mixed-chart" width="800" height="450"></canvas>
                </div>
            </div>

            

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>

    <script>
       new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});

new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      },
      {
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});

new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: ["1900", "1950", "1999", "2050"],
      datasets: [{
          label: "Europe",
          type: "line",
          borderColor: "#8e5ea2",
          data: [408,547,675,734],
          fill: false
        }, {
          label: "Africa",
          type: "line",
          borderColor: "#3e95cd",
          data: [133,221,783,2478],
          fill: false
        }, {
          label: "Europe",
          type: "bar",
          backgroundColor: "rgba(0,0,0,0.2)",
          data: [408,547,675,734],
        }, {
          label: "Africa",
          type: "bar",
          backgroundColor: "rgba(0,0,0,0.2)",
          backgroundColorHover: "#3e95cd",
          data: [133,221,783,2478]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Population growth (millions): Europe & Africa'
      },
      legend: { display: false }
    }
});



    </script>
{% endblock %}
