{% extends "template.html" %}

{% block title %}Overview Panel{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  <div id="loading-screen" class="container text-center">
    <div class="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;" >
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <h1>Just a sec...</h1>
      <h2>Getting the panel ready for you.</h2>
      </div>
  </div>

    <div id="content" class="container" style="display: none;">
        <h1><span class="secondary-heading"><i class="fa fa-solar-panel"></i> Overview Panel</span><span id="biobank_name"></span></h1>

        <div class="row">
          <div class="col-sm-3">
            <div class="data">
                <span id="sample_count" class="data large"></span>
                <span class="data small">Samples</span>
              </div>
        </div>
            <div class="col-sm-3">
                <div class="data">
                    <span id="donor_count" class="data large"></span>
                    <span class="data small">Donors</span>
                  </div>
            </div>
            
            <div class="col-sm-3">
                <div class="data">
                    <span id="user_count" class="data large"></span>
                    <span class="data small">Users</span>
                  </div>
            </div>
            <div class="col-sm-3">
                <div class="data">
                    <span id="site_count" class="data large"></span>
                    <span class="data small">Sites</span>
                  </div>
            </div>          
        </div>

        <h2><i class="fas fa-vial"></i> Samples Overview</h2>

        <div class="row">
          <div class="col-3">
            <canvas id="sample_status" width="100%" height="100%"></canvas>
          </div>
          <div class="col-3">
            <canvas id="sample_source" width="100%" height="100%"></canvas>
          </div>
          <div class="col-3">
            <canvas id="sample_type" width="100%" height="100%"></canvas>
          </div>
          <div class="col-3">
            <canvas id="sample_biohazard" width="100%" height="100%"></canvas>
          </div>
        </div>

        <h2><i class="fa fa-user-circle"></i> Donor Overview</h2>

        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-3">
            <canvas id="donor_status" width="100%" height="100%"></canvas>
          </div>
          <div class="col-3">
            <canvas id="donor_sex" width="100%" height="100%"></canvas>
          </div>
          <div class="col-3">
            <canvas id="donor_race" width="100%" height="100%"></canvas>
          </div>
          <div class="col-1">
          </div>
        </div>

        <h2><i class="fa fa-cloud-meatball"></i> Metadata Overview</h2>
        
        <div class="row">
          <div class="col-4">
            <canvas id="document_type" width="100%" height="100%"></canvas>
          </div>
          <div class="col-4">
            <canvas id="attribute_type" width="100%" height="100%"></canvas>
          </div>
          <div class="col-4">
            <canvas id="protocol_type" width="100%" height="100%"></canvas>
          </div>
        </div>




    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/misc/panel.js') }}"></script>

{% endblock %}
