{% extends "template.html" %}

{% block title %}Privacy Policy{% endblock %}


{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><i class="fas fa-id-badge"></i> Our Privacy Policy</h1>

    </div>
</div>
<div class="container">

        <p>Here's some information on the sort of personal information received and collected when you visit
        our site.</p>

    
        <h2>🔍 The information we hold about you, and how it's used</h2>

        <h3>When you register for a LImBuS account</h3>

        <ul>
            <li>Personal details like your name.</li>
            <li>Contact details like your work address, email address, and telephone number.</li>
        </ul>

        <h3>Information we collect or generate if you get in touch</h3>

        <ul>
            <li>The GitHub account you're using to contact us, and the information you submit via the service.</li>
            <li>The email address you use and the contents of your email, including any attachment.</li>
            <li>Public details from your social media profile if you reach out to us via these platforms.</li>
        </ul>

        <p>If you email us or submit an issue to our issues tracker, we may collect the following information so we can answer your questions or take action.</p>

       
        <h2>📜 Logging</h2>

        <p>We collect data contained in log files.</p>

        <p>The information in log files include your IP (internet protocol) address, the browser you use to visit
            the site, the time in which you visited th site, and the pages you visited.</p>

        <p>Chances are, we'll never look at the log files - but we're obliged to tell you we do.</p>

        <h2>🍪 Cookies</h2>

        <p>Cookies are used on this site to store information concerning key functionality such as logging in and
            data caching. We do not use Google Analytics.</p>

        <p>You can disable cookies in your browser settings. However, this may adversely affect the functionality
            of the website.</p>

        <h2>✅ Your Rights</h2>

        <p>As a user, you have a right to:</p>

        <ul>
            <li>access the personal data we hold about you, or to get a copy of it</li>
            <li>ask for a copy of your personal data in a portable (machine-readable) format or make us send it to someone else</li>
            <li>make us correct inaccurate data</li>
            <li>ask us to delete, 'block' or suppress your data, though for legal reasons we might not always be able to do it</li>
            <li>ask a member of staff to review a computer-made (automated) decision.</li>
        </ul>

        <p>To do any of these things, please contact us through GitHub or by emailing <a href="mailto:keo7@aber.ac.uk">keo7@aber.ac.uk</a>. EU data protection laws give us one month to respond.</p>

</div>

{% endblock %}