{% extends "template.html" %}

{% block title %}Privacy Policy{% endblock %}


{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><i class="fas fa-id-badge"></i> Our Privacy Policy</h1>

    </div>
</div>
<div class="container">

    <p>Here's some information on the sort of personal information recieved and collected when you visit
        our site.</p>

    <p>We will <b>never</b> sell any personal information collected first-hand to third parties.</p>

    <h2>Logging</h2>

    <p>We collect data contained in log files.</p>

    <p>The information in log files include your IP (internet protocol) address, the browser you use to visit
        the site, the time in which you visited th site, and the pages you visited.</p>

    <p>Chances are, we'll never look at the log files - but we're obliged to tell you we do.</p>

    <h2>Cookies</h2>

    <p>Cookies are used on this site to store information concerning key functionality such as logging in and
        data caching. We do not use Google Analytics.</p>

    <p>You can disable cookies in your browser settings. However, this may adversely affect the functionality
        of the website.</p>



</div>

{% endblock %}