{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}


{% block title %}LIMBSIT-{{ site.id }}{% endblock %}

{% block body %}
    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">

            <h1><i class="fa fa-building"></i> LIMBSIT-{{ site.id }}</h1>

            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Information</h5>
                    <div class="row">
                        <div class="col-6">
                            {{ show_value(site.name, "Name", "text") }}
                            {{ show_value(site.address.street_address_one, "Address Line One", "text") }}
                            {{ show_value(site.address.street_address_two, "Address Line Two", "text") }}
                            {{ show_value(site.address.city, "City", "text") }}
                            {{ show_value(site.address.county, "County", "text") }}
                            {{ show_value(site.address.post_code, "Post Code", "text") }}
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="list-group">
                    <li class="list-group-item active">
                          <h5 class="mb-1"><i class="fa fa-cube"></i> Rooms</h5>
                      </li>
                        {% for room in site.rooms %}
                            <a href="{{ url_for('storage.view_room', room_id=room.id) }}"
                               class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><i class="fa fa-door-closed"></i> LIMBRM-{{ room.id }}</h5>
                                </div>
                                <p class="mb-1">{{ room.room_number }}: {{ room.building }}</p>
                            </a>
                        {% endfor %}
                        <a href="{{ url_for('storage.new_room', s_id=site.id) }}"
                           class="list-group-item list-group-item-action flex-column active"
                           style="text-align: center;">
                            <i class="fa fa-plus"></i> Add Room
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/site/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}