{% extends "template.html" %}

{% block title %}Sample Attributes{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>
                <i class="far fa-clone"></i> Sample Attributes
            </h2>
            <div class="btn-toolbar">
                <div class="btn-group mr-2">
                    <a href="{{ url_for('sample.add_attribute') }}">
                        <div class="btn btn-primary">
                            <i class="fas fa-plus"></i> Add Attribute
                        </div>
                    </a>
                </div>
                <div class="btn-group mr-2">
                    <div id="showFilter" class="btn btn-success"><i class="fa fa-filter"></i>
                        <span id="showFilterText">Show Filters</span>
                    </div>
                </div>
            </div>
        </div>


        <table id="attributeTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <th>Identifier</th>
            <th>Term</th>
            <th>Term Type</th>
            <th>Creation Date</th>
            <th>Required</th>
            <th>Uploader</th>
            </thead>
            <tbody>
            {% for attr_id, attr in sample_attributes.items() %}
                <tr>
                    <td>
                        <a href="{{ url_for('sample.view_attribute', attribute_id=attr_id) }}">
                            <i class="far fa-clone"></i> LIMBSATTR-{{ attr_id }}
                        </a>
                    </td>
                    <td>{{ attr.term }}</td>
                    <td>
                        {% if (attr.type.value == "Text") %}
                            <i class="fas fa-font"></i>
                        {% elif (attr.type.value == "Option") %}
                            <i class="far fa-clone"></i>
                        {% endif %}
                    </td>
                    <td>{{ attr.creation_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ attr.required }}</td>
                    <td>{{ attr["author_id"].name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/attribute/index.js') }}"></script>
{% endblock %}