{% extends "template.html" %}


{% block title %}View Sample Attribute : Sample Acquisition Portal{% endblock %}

{% block body %}
    <div class="container">
        <h1>View Attribute</h1>

        {{ show_value(attribute.term, "Attribute Term", "text") }}
        {{ show_value(attribute.accession, "Attribute Accession", "text") }}
        {{ show_value(attribute.accession, "Attribute Accession", "text") }}
        {{ show_value(attribute.ref, "Attribute REF", "text") }}
        {{ show_value(attribute_user.email, "Creator Email", "text") }}

        <h2>Associated Samples</h2>

    </div>
{% endblock %}