{%- extends "template.html" -%}


{% block title %}{{ code }}{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h1>
                    {{ code }}</h1>
            </div>
            <div class="col-1">
                <h1>{{ smiley }}</h1>
            </div>
        </div>
        

    </div>
</div>

<div class="container">


    <p>{{ text }}</p>


    <h2>🤓 Stuff For Our Geeks</h2>


    <div class="card" style="margin-bottom: 2rem;">
        <div class="card-body">
            <code>
                <pre id="exception">{{ traceback }}</pre>
            </code>
        </div>
    </div>

    
    <div class='btn btn-primary float-right' id="copy-to-clipboard"><i class="fa fa-clipboard"></i> Copy Error To Clipboard</div>
    
</div>

{%- endblock %}

{% block javascript %}

<script>

    $("#copy-to-clipboard").click(function(e) {
        var markdown = "'''" + $("#exception").html() + "'''"
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(markdown).select();
        document.execCommand("copy");
        $temp.remove();
        alert("Error Copied");
    });
</script>

{% endblock %}