{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Editing LIMBRACK-{{ rack.id }}{% endblock %}
{% block body %}

<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading"><i class="fa fa-grip-vertical"></i> LIMBRACK-{{ rack.id }}</span>
                    <i class="fa fa-edit"></i> Edit Rack</h1>
            </div>
        </div>

        <div class="container">

            <form method="POST" action="{{ url_for('storage.edit_rack', id=rack.id ) }}">
                {{ form.csrf_token() }}
                {{ form_field(form.serial) }}
                {{ form_field(form.description) }}
            <div class="form-group ">
                <label for="site_id">{{ form.site_id.label }}</label>
{#                {{ form_field(form.site_id) }}#}
                {{ form.site_id }}
            </div>
            <div class="form-group ">
                <label for="shelf_id">{{ form.shelf_id.label }}</label>
                {% if form.shelf_required %}
                    {{ form.shelf_id }}
{#                    {{ form_field(form.shelf_id) }}#}
                {% endif %}
            </div>
                <div style="visibility: hidden; display: none">
                    <input type="hidden" name="shelves" value="{{ shelves }}">
                </div>

{#                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_field(form.compartment_col) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_field(form.compartment_row) }}
                        </div>
                    </div>#}

{#                {{ form_field(form.submit) }}#}
                <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {{ form_field(form.submit) }}
                    </div>
                    <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                        <a href="{{ url_for('storage.view_rack', id=rack.id) }}">
                            <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                Cancel
                            </button></a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script>
    //sessionStorage.clear();
    sessionStorage.removeItem("shelves");
	shelves = {{ shelves | tojson }};
    sessionStorage.setItem("shelves", JSON.stringify(shelves));
</script>
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/rack/rack_edit.js') }}"></script>
{% endblock %}
