{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Editing LIMBRACK-{{ rack.id }}{% endblock %}
{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading"><i class="fa fa-grip-vertical"></i> LIMBRACK-{{ rack.id }}</span>
                    <i class="fa fa-edit"></i> Edit Rack</h1>
            </div>
        </div>

        <div class="container">

            <form method="POST" action="{{ url_for('storage.edit_rack', id=rack.id ) }}">
                {{ form.csrf_token() }}
                {{ form_field(form.serial) }}
                {{ form_field(form.description) }}
                {% if form.shelf_required %}
                    {{ form_field(form.shelf_id) }}
                {% endif %}
                {{ form_field(form.submit) }}
            </form>

        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}