{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}LIMBRACK-{{rack.id}}: Assign Rack Samples {% endblock %}

{% block body %}

<style>
.drag-over {
    border: dashed 3px red;
}
</style>
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage container">

        <h1>
            <span class="secondary-heading">
                <a href="{{url_for('storage.view_rack', id=rack.id) }}">
                    <i class="fa fa-grip-vertical"></i> LIMBRACK-{{rack.id}}</a>
            </span>
            Update Rack Samples from File</h1>

        <div class="container">
            <p> Ensure that the file is in the comma-separated-value (csv) file format. In order for the file to be read, the CSV file must have the following column headings on the first row:
            </p>
            <ul>
                <li>Tube Barcode: The reference string of characters used to interrogate LImBuS for existing samples.
                </li>
                <li>Tube Position: The position of the vial in the form of A1, B2, F42.</li>
            </ul>

            <p>
                If the file contains additional attribute information, it will be <b>disregarded entirely</b>.
            </p>
</div>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('storage.update_rack_samples', id=rack.id) }}">

                {{ form.csrf_token() }}
                <div class="row">
                    <div class="col-6">
                        {{ form_field(form.entry_date) }}
                    </div>
                    <div class="col-6">
                        {{ form_field(form.entry_time) }}
                    </div>
                </div>
                {{ form_field(form.entry) }}
                {{ form_field(form.barcode_type) }}

                {{ form_field(form.file) }}
                <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {{ form_field(form.submit) }}
                    </div>
                    <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                        <a href="{{ url_for('storage.rack_index') }}">
                            <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                Cancel
                            </button></a>
                    </div>
                </div>
            </form>

            <div id="rack-warning" class="alert alert-warning" style="display:none;" role="alert">
                <b>Warning:</b> This will update the whole rack occupancy. Samples absent in the file will be removed from the rack!
            </div>
{#            <div class="row">
                <div class="col-sm-6">
                    {{ form_field(form.date) }}
                </div>
                <div class="col-sm-6">
                    {{ form_field(form.time) }}
                </div>
{#            </div>#}
{#            {{ form_field(form.entered_by) }}#}

{#
            <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    {{ form_field(form.submit) }}
                </div>
                <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                    <a href="{{ url_for('storage.view_rack',id=rack.id) }}">
                        <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                            Cancel
                        </button></a>
                </div>
            </div>
#}

        </form>


    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{#<script src="{{ url_for('static', filename='js/storage/rack/sampletorack_view.js') }}"></script>#}
{% endblock %}