{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}LIMBRACK-{{rack.id}}: Assign Sample to Rack{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            
            <h1>
                <span class="secondary-heading">
                    <i class="fa fa-grip-vertical"></i> LIMBRACK-{{rack.id}}</span> Assign Sample to Rack</h1>

            <form action="" method="post">


            </form>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}