{% extends "template.html" %}

{% block title %}Step One: New Protocol{% endblock %}

{% block body %}

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-project-diagram"></i> New Protocol: Step One</h2>
            
          </div>

          <form>
              {{ form.csrf_token() }}
              {{form_field(form.name)}}
                {{form_field(form.type)}}
              {{ form_field(form.submit)}}
          </form>
        

    </div>
{% endblock %}