{% extends "template.html" %}


{% block title %}Log In{% endblock %}

{% block body %}

<div class="container" style="padding-top: 1em; max-width: 800px;">

    <div class="card">
        <div class="card-header bg-primary text-white">
            Keep your information secure
        </div>
        <div class="card-body">
            Do not share your LImBuS authenitcation with anyone else. 
        </div>
    </div>

    <h1><i class="fa fa-key"></i> Log In</h1>

    <form method="POST" action="{{ url_for('auth.login' ) }}">
        {{ form.csrf_token }}
        {{ form_field(form.email) }}
        {{ form_field(form.password) }}
        {{ form_field(form.submit) }}
    </form>

    <h2 style="padding-top: 2em;">Problems signing in</h2>
    
    <h3><a href="#">I have forgotten my password</a></h3>
    <h3><a href="#">I have forgotten my email address</a></h3>
    <h3><a href="#">I need an account</a></h3>

</div>




{% endblock %}
