{% extends "template.html" %}

{% block title %}Log In{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/auth/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        
        <h1>Log In</h1>


        <form method="POST" action="{{ url_for('auth.login' ) }}">
            {{ form.csrf_token }}

            {{ form_field(form.email) }}

            {{ form_field(form.password) }}

            {{ form_field(form.submit, with_label=False) }}

        </form>

        <h3>Problems signing in?</h3>

        <p>Please contact your biobank administrator and ask them to reset your password.</p>

    </div>
    </div>

    </div>
{% endblock %}

