{% extends "template.html" %}


{% block title %}Password Change Form{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1><span class="secondary-heading"><i class="fa fa-user"></i> User Account</span><i class="fa fa-key"></i> Password Change Form</h1>

        </div>
    </div>

    <div class="container">


        <form action="{{ url_for('auth.change_password') }}" method="POST">
            {{ form.csrf_token }}
            {{ form_field(form.current_password) }}
            {{ form_field(form.password) }}
            {{ form_field(form.confirm_password) }}
            {{ form_field(form.submit) }}
        </form>


    </div>




{% endblock %}