{% extends "template.html" %}


{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="container">

        <h1><span class="secondary-heading"><i class="fa fa-user"></i> User Account</span>My Profile</h1>

        <div class="row">
            <div class="col col-sm-9">
                {{ show_value(user.email, "Email Address", "text") }}
                {{ show_value(user.first_name, "First Name", "text") }}
                {{ show_value(user.middle_name, "Middle Name", "text") }}
                {{ show_value(user.last_name, "Last Name", "text") }}
            </div>
            <div class="col text-center">
                <img src="{{ user.gravatar }}" class="rounded-circle"
                     style="padding-bottom: 10px;">

                <button class="btn btn-primary full-width" data-toggle="modal" data-target="#exampleModalLong">Change
                    Password
                </button>
            </div>
        </div>


    </div>




{% endblock %}