{% extends "template.html" %}


{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2>
                <i class="fa fa-user"></i> My Profile
            </h2>
        </div>

        <div class="row">
            <div class="col col-sm-9">
                {{ show_value(user.email, "Email Address", "text") }}
                {{ show_value(user.profile.title, "Title", "enum") }}
                {{ show_value(user.profile.first_name, "First Name", "text") }}
                {{ show_value(user.profile.middle_name, "Middle Name", "text") }}
                {{ show_value(user.profile.last_name, "Last Name", "text") }}
            </div>
            <div class="col text-center">
                <img src="{{ user.gravatar }}" class="rounded-circle"
                     style="padding-bottom: 10px;">

                <button class="btn btn-primary full-width" data-toggle="modal" data-target="#exampleModalLong">Change
                    Password
                </button>
            </div>
        </div>


    </div>




{% endblock %}