{% extends "template.html" %}


{% block title %}Token Generator{% endblock %}

{% block body %}
    <div class="container">

        <h1><span class="secondary-heading">
            <i class="fa fa-user"></i> User Account
        </span>
            Token Generator</h1>
        <div class="alert alert-warning text-center">
            <b>Notice</b> This has invalidated your token. You will be required to update all of your scripts with the
            new token in order to continue using the BIMS from an external interface. If you don't know what this means,
            then you're probably not affected and can continue onward with your day. If you think this has broke something
            please contact your systems administrator.
        </div>
        <div class="card">
            <div class="card-header text-center"><h2>Your new token is</h2></div>
            <div class="card-body text-center">
                <code>
                    <pre style="font-size:2em;" id="token">{{ token }}</pre>
                </code>

            </div>
            <div class="card-footer">
                <div class="btn btn-success full-width disabled" id="copy">
                    <i class="fa fa-clipboard"></i> Copy to Clipboard
                </div>
            </div>
        </div>

    </div>

{% endblock %}