{% extends "template.html" %}

{% block title %}LIMBATTR-{{ attribute.id }}{% endblock %}

{% block body %}

    <div class="container">

        <h1><span class="secondary-heading"><i class="fab fa-buffer"></i> Attribute</span>LIMBATTR-{{ attribute.id }}</h1>

        
        {{ show_value(attribute.term, "Term", "text")  }}
        {{ show_value(attribute.description, "Description", "text")  }}
        {{ show_value(attribute.type, "Type", "text")  }}
        {{ show_value(attribute.accession, "Accession", "text")  }}
        {{ show_value(attribute.required, "Required", "text")  }}
        {{ show_value(attribute.user_information.email, "Creator", "text")  }}


        {% if attribute.type == "Option" %}
            <h4><i class="fab fa-buffer"></i> Option Information</h4>

            {% for o_id, option in attribute.option_info.items() %}

                <div class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  Attribute {{loop.index}}
                </h5>

        </div>
            <p class="mb-1">
                {{ option.term }}
            </p>
        </div>
            {% endfor %}
        {% endif %}



    </div>
{% endblock %}