{% extends "template.html" %}

{% block title %}LIMBATTR-{{ attribute.id }}{% endblock %}

{% block body %}

    <div class="container">

        <h1>
            <span class="secondary-heading">
                <a href="{{ url_for('attribute.index') }}">
                    <i class="fab fa-buffer"></i> Attribute Portal
                </a>
            </span>LIMBATTR-{{ attribute.id }}: {{ attribute.term }}
        </h1>

            <div class="row text-muted">
            <div class="col-6">
            </div>
            <div class="col-6 text-right">
                <i class="fa fa-calendar"></i> Created On: {{ attribute.created_on }}
                <div class="clearfix"></div>
                <i class="fa fa-user"></i> Created By: {{ render_author_for_table(attribute.author) }}
            </div>

        </div>

        <h2>Attribute Information</h2>
        {{ show_value(attribute.description, "Description", "textarea") }}

        {% if attribute.type == "NUMERIC" %}
            <h2>Numeric Information</h2>
            {{ show_value(attribute.numeric_setting.measurement, "Measurement", "textarea") }}
            {{ show_value(attribute.numeric_setting.symbol, "Symbol", "textarea") }}

        {% elif attribute.type == "OPTION" %}
            <h2>Option Information</h2>
	    {{ attribute.options }}
        {% endif %}
    </div>
{% endblock %}
