{% extends "template.html" %}

{% block title %}Add Donor{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fa fa-male"></i> Step Two: Enter Donor Attribute Information</h1>
          </div>

        <form method="POST" action="{{ url_for('donor.add_donor' ) }}">
            {{ form.csrf_token }}
            {% for attribute in form %}
                {% if attribute.id != "csrf_token" %}
                    {{ form_field(attribute) }}
                {% else %}
                    {{ attribute }}
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% endblock %}