[Unit]
Description=LImBuS Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /home/limbus/limbus/docker-compose.prod.yml up -d

[Install]
WantedBy=multi-user.target