[Unit]
Description=LImBuS Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/bash docker-compose -f /limbus/docker-compose.prod.yml up -d --build

[Install]
WantedBy=multi-user.target