[Unit]
Description=LImBuS Database Dumper Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=60s
ExecStart=/usr/local/bin/docker-compose -f /home/keo7/limbus/docker-compose.prod.yml run web sh -c "venv/bin/python dumpdb.py"

[Install]
WantedBy=multi-user.target