{% extends "template.html" %}

{% block title %}Add Sample{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add Sample</h1>

        <form method="POST" action="{{ url_for('sample.add_sample_stwo' ) }}">
            {{ form.csrf_token }}
            {% for attribute in form %}
                {% if attribute.id != "csrf_token" %}
                    {{ form_field(attribute) }}
                {% else %}
                    {{ attribute }}
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% endblock %}