{% extends "template.html" %}

{% block title %}Select Sample Attributes : Sample Acquisition Portal{% endblock %}

{% macro generate_attribute_select_form(form) -%}
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Attriute</th>
            <th>Select?</th>
        </tr>
        </thead>
        <tbody>
        {% for field in form %}
            {% if field.label != "CSRF Token" %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endif %}

        {% endfor %}
        </tbody>


    </table>

    {{ form.submit() }}
{%- endmacro %}


{% block body %}
    <div class="container">
        <h1>Select Sample Attribute : Sample Acquisition Portal</h1>

        <form action="/some_url" method="POST">
            {{ form.csrf_token }}

            {{ generate_attribute_select_form(form) }}
        </form>
    </div>
{% endblock %}