{% extends "template.html" %}

{% block title %}Step Zero: Select Patient Consent Form{% endblock %}



{% block body %}
    <div class="container">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-vial"></i> Step Zero: Select Patient Consent Form</h1>
          </div>
        
        
        {% if pcf_documents > 0 %}

        <p>Before we continue, you must first link the sample to a patient consent form:</p>
        <form action="{{ url_for('sample.add_sample_pcf') }}" method="POST">

            {{ form.csrf_token }}
            {{ form_field(form.form_select) }}
            {{ form_field(form.submit) }}

        </form>

        {% else %}
            <div class="alert alert-danger text-center"><b>Error:</b>q There are no suitable patient consent forms, please upload one before continuing.</div>
        {% endif %}
    </div>
{% endblock %}