{% extends "template.html" %}

{% block title %}Step One: Select Sample Attributes{% endblock %}


{% macro generate_attribute_select_form(form) -%}
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Attribute</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        {% for field in form %}
            {% if field.type == "BooleanField" %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
    {{ form.submit() }}
{%- endmacro %}

{% block body %}
    <div class="container">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-vial"></i> Step One: Select Sample Attributes</h1>
          </div>
        <form action="{{ url_for('sample.add_sample') }}" method="POST">
            {{ form.csrf_token }}

            {{ generate_attribute_select_form(form) }}
        </form>
    </div>
{% endblock %}