{% extends "template.html" %}

{% block title %}View Sample{% endblock %}

{% block body %}
    <div class="container">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-vial"></i> Sample: LIMBSMP-{{ sample.id }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

            </div>
        </div>


        {{ show_value(sample.type, "Sample Type", "text") }}
        {{ show_value(sample.disposal_instruction, "Disposal Instructions", "text") }}
        {{ show_value(sample.creation_date, "Creation Date", "text") }}

        {% for term, attr in text_attr %}
            {{ show_value(attr.value, term.term, "text")  }}
        {% endfor %}

    </div>
{% endblock %}