{% extends "template.html" %}

{% block title %}Administrator Registration{% endblock %}

{% block body %}
<div class="container">

    <h1><span class="secondary-heading"><i class="mega-octicon octicon-cloud-download"></i> LImBuS Setup</span><i class="fa fa-user"></i> Administrator Registration</h1>

    <p>Something about the administrator account...</p>

    <form method="POST" action="{{ url_for('setup.admin_registration', hash=hash ) }}" id="registration">
        {{ form.csrf_token }}


        {{ form_field(form.title) }}
        {{ form_field(form.first_name) }}
        {{ form_field(form.middle_name) }}
        {{ form_field(form.last_name) }}

        {{ form_field(form.email) }}
        {{ form_field(form.password)}}
        {{ form_field(form.confirm_password)}}

        {{ form_field(form.submit) }}

    </form>

</div>
{% endblock %}



{% block javascript %}


{% endblock %}