{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}Editing LIMBCS-{{ cs.id }}{% endblock %}
{% block body %}
    <div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage container">
            <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.view_cold_storage', id=cs.id) }}">
                            <i class="fa fa-cube"></i> LIMBCS-{{ cs.id }}                </a>
                        </span>
                <i class="fa fa-edit"></i> Edit Cold Storage
            </h1>


            <form method="POST" action="{{ url_for('storage.edit_cold_storage', id=cs.id ) }}">
                {{ form.csrf_token }}
                {{ form_field(form.manufacturer) }}
                {{ form_field(form.temperature) }}
                {{ form_field(form.type) }}
                {{ form_field(form.serial_number) }}
                {{ form_field(form.comments) }}
                {{ form_field(form.submit) }}
            </form>
    </div>

    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}
