{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}LIMBCS-{{ cs.id }}{% endblock %}

{% block body %}

<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading">
                        <a href="{{ url_for('storage.view_room', id=cs.room_id) }}">
                            <i class="fa fa-door-closed"></i> LIMBROOM-{{ cs.room_id }}</a>
                    </span><i class="fa fa-temperature-low"></i> LIMBCS-{{ cs.id }}: {{ cs.alias}} {% if cs.is_locked %}<i class="fa fa-lock" style="padding-left: 3px;"></i>{% endif %}</h1>

                <div class="row text-muted">
                    <div class="col-7">
                        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                            {% if not cs.is_locked %}
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a data-role="data_entry" href="{{ url_for('storage.edit_cold_storage', id=cs.id )}}">
                                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                        Details
                                    </button>
                                </a>
                            </div>

                            <div class="btn-btn-group mr-2" role="group">
                                <div class="dropdown">
                                  <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-lightbulb"></i> Actions
                                  </button>
                                  <div class="dropdown-menu">
                                    <a data-role="data_entry" class="dropdown-item" href="{{ url_for('storage.new_shelf',id=cs.id) }}"><i
                                        class="fa fa-bars"></i> Add Shelf</a>
                                    <a data-role="data_entry" class="dropdown-item" href="{{ url_for('storage.new_cold_storage_servicing_report',id=cs.id) }}"><i
                                        class="fa fa-file"></i> Add Service Report</a>
                                    <a data-role="data_entry" class="dropdown-item" href="{{ url_for('storage.associate_document',id=cs.id) }}"><i
                                        class="fa fa-file"></i> Associate Document</a>
                                    </div>
                                </div>
                              </div>
 
     

                            {% endif %}

{#                            {% if current_user.is_admin == true %}#}
                            <div data-role="admin" class="btn-group mr-2" role="group" aria-label="Second group">
                                    {% if cs.is_locked %}
                                <a href=" {{ url_for('storage.lock_cold_storage', id = cs.id) }}">
                                <button type="button"
                                    class="btn btn-outline-dark"><i class="fa fa-lock"></i> Unlock
                                </button></a>
                                    {%else%}
                                    <button type="button" data-toggle="modal" data-target="#lock-confirmation"
                                            class="btn btn-outline-dark"><i class="fa fa-lock"></i> Lock
                                    </button>{% endif %}

                            </div>

{#                            {% endif %}#}

                            {% if not cs.is_locked %}
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button data-role="data_entry" type="button" class="btn btn-delete float-right" data-toggle="modal"
                                        data-target="#delete-confirmation">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog"
                                 aria-labelledby="delete-confirmation-modal-title" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger text-white">
                                            <h5 class="modal-title" id="delete-confirmation-modal-title">Delete LIMBCS-{{ cs.id }}?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                <b>Warning:</b> Deleting a cold storage cannot be reversed.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn-toolbar form-group" style="float:right" role="toolbar"
                                                 aria-label="Toolbar with button groups">
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <a href="{{ url_for('storage.delete_cold_storage', id=cs.id) }}">
                                                        <button type="button" class="btn btn-outline-dark"><i
                                                                class="fa fa-trash"></i> Delete
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <button type="button"
                                                            data-dismiss="modal"
                                                            class="btn btn-outline-dark" title="Close Modal"><i
                                                            class="fa fa-times"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <i class="fa fa-calendar"></i> Created On: {{ cs.created_on }}
                        <div class="clearfix"></div>
                        <i class="fa fa-user"></i> Created By: {{ render_author_for_table(cs.author) }}
                    </div>
                </div>
            </div>

        </div>


        <div class="container">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" id="basic-info-nav">Basic Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="shelves-nav">Shelves</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="service-report-nav">Service Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="documents-nav">Documents</a>
                </li>
            </ul>

            <div id="documents-div" style="display: none;">
                    <table id="documents" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Document</th>
                <th>Document Type</th>
                <th>Uploader</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            {% for document in cs.documents %}
            <tr>
                <td>
                    <a href="{{ url_for('document.view', id=document.id) }}">
                        <i class="fas fa-file"></i> LIMBDOC-{{ document.id }}: {{ document.name }}
                    </a>
                </td>
                <td>{{ document.type }}</td>
                <td>{{ render_author_for_table(document.author) }}</td>
                <td>{{ document.created_on }}</td>
            </tr>
            {% endfor %}
        </tbody>
                    </table>
            </div>


            <div id="basic-info-div">

            <table class="table table-striped">
                {{ show_value(cs.uuid, "UUID", "text") }}
                {{ show_value(cs.type, "Cold Storage Type", "text") }}
                {{ show_value(cs.manufacturer, "Manufacturer", "text") }}
                {{ show_value(cs.serial_number, "Serial Number", "text") }}
                {{ show_value(cs.temp, "Temperature", "text") }}
            </table>
        </div>
  

        <div id="shelf-info-div" style="display:none;">


            <div class="list-group">
                {% for shelf in cs.shelves %}
                <a href="{{ url_for('storage.view_shelf', id=shelf.id) }}"
                    class="list-group-item list-group-item-action">
                    <div class="media">
                        <span class="mr-3">
                            <h1><i class="fa fa-bars"></i></h1>
                        </span>
                        <div class="media-body">
                            <h5 class="mt-0">LIMBSHLF-{{shelf.id}}: {{shelf.name}} </h5>
                            {{ show_value(shelf.description, "Description", "text") }}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>


        <div id="service-report-div" style="display: none;">
            <ul class="timeline"  id="sample-review-li">
                {% for service in cs.service_history %}
                <li>
                    <p class="text-muted">Undertaken on {{ service.date }}</p>
                    <div class="card">
                        {% set header_colour = "text-white bg-danger" %}
                        {% set glyphicon = "fa fa-times-circle" %}

                        {% if service.status == "Pass" %}
                            {% set header_colour = "text-white bg-success" %}
                            {% set glyphicon = 'fa fa-check-circle' %}
                        {% endif %}

                        <div class="card-header {{ header_colour }}">
                            {{ service.status }}
                        </div>
                        <div class="card-body">
                            <div class="media">
                                <div class="align-self-center mr-3">
                                    <h1><i class='{{ glyphicon}}'></i></h1>
                                </div>
                                <div class="media-body">
                                    <table class="table table-striped">
                                        {{ show_value(service.comments, "Comments", "text") }}
                                        {{ show_value(service.conducted_by, "Conducted By", "text") }}
                                        {{ show_value(service.temp, "Temperature", "text") }} 
                                        {{ show_value(service.date, "Date", "text") }} 
                                    </table>
                                </div>
                            </div>
                        
                    </div>
                </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>

        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="lock-confirmation" tabindex="-1" role="dialog"
         aria-labelledby="lock-confirmation-modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="lock-confirmation-modal-title">Lock LIMBCS-{{ cs.id }}?</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <b>Warning:</b> Locking cold storage will lock associated shelves and racks.
                    </div>
                </div>
                <div class="modal-footer modal-footer-delete">
                    <div class="btn-toolbar form-group" style="float:right" role="toolbar"
                         aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href=" {{ url_for('storage.lock_cold_storage', id = cs.id) }}">
                                <button type="button" class="btn btn-delete"><i
                                        class="fa fa-trash"></i> Lock
                                </button>
                            </a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button"
                                    data-dismiss="modal"
                                    class="btn btn-outline-dark" title="Close Modal"><i
                                    class="fa fa-times"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/lts/view.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/delete.js') }}"></script>
<script src="{{ url_for('static', filename='js/auth/adapt_template.js') }}"></script>

{% endblock %}