{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}LIMBCS-{{ cs.id }}{% endblock %}

{% block body %}

<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading">
                        <a href="{{ url_for('storage.view_room', id=cs.room_id) }}">
                            <i class="fa fa-door-closed"></i> LIMBROOM-{{ cs.room_id }}</a>
                    </span><i class="fa fa-temperature-low"></i> LIMBCS-{{ cs.id }}: {{ cs.alias}}</h1>

                <div class="row text-muted">
                    <div class="col-7">
                        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                            {% if not cs.is_locked %}
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ url_for('storage.edit_cold_storage', id=cs.id )}}">
                                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                        Details
                                    </button>
                                </a>
                            </div>

                            <div class="btn-btn-group mr-2" role="group">
                                <div class="dropdown">
                                  <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-lightbulb"></i> Actions
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('storage.new_shelf',id=cs.id) }}"><i
                                        class="fa fa-bars"></i> Add Shelf</a>
                                    <a class="dropdown-item" href="{{ url_for('storage.new_cold_storage_servicing_report',id=cs.id) }}"><i
                                        class="fa fa-file"></i> Add Service Report</a>
                                    </div>
                                </div>
                              </div>
 
     

                            {% endif %}

                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                    class="btn btn-outline-dark"><i class="fa fa-lock"></i> {% if cs.is_locked %}
                                    Unl{% else %}L{% endif %}ock
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <i class="fa fa-calendar"></i> Created On: {{ cs.created_on }}
                        <div class="clearfix"></div>
                        <i class="fa fa-user"></i> Created By: {{ render_author_for_table(cs.author) }}
                    </div>
                </div>
            </div>

        </div>


        <div class="container">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" id="basic-info-nav">Basic Information</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="shelves-nav">Shelves</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="service-report-nav">Service Reports</a>
                </li>

            </ul>


            <div id="basic-info-div">

            <table class="table table-striped">
                {{ show_value(cs.uuid, "UUID", "text") }}
                {{ show_value(cs.type, "Cold Storage Type", "text") }}
                {{ show_value(cs.manufacturer, "Manufacturer", "text") }}
                {{ show_value(cs.serial_number, "Serial Number", "text") }}
                {{ show_value(cs.temp, "Temperature", "text") }}
            </table>
        </div>
  

        <div id="shelf-info-div" style="display:none;">


            <div class="list-group">
                {% for shelf in cs.shelves %}
                <a href="{{ url_for('storage.view_shelf', id=shelf.id) }}"
                    class="list-group-item list-group-item-action">
                    <div class="media">
                        <span class="mr-3">
                            <h1><i class="fa fa-bars"></i></h1>
                        </span>
                        <div class="media-body">
                            <h5 class="mt-0">LIMBSHLF-{{shelf.id}}: {{shelf.name}} </h5>
                            {{ show_value(shelf.description, "Description", "text") }}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>


        <div id="service-report-div" style="display: none;">
            <ul class="timeline"  id="sample-review-li">
                {% for service in cs.service_history %}
                <li>
                    <div class="card card-body">
                        <h6>{{service.status}}</h6>
                        <h5>Service</h5>
                        <table class="table table-striped">
                            {{ show_value(service.comments, "Comments", "text") }}
                            {{ show_value(service.conducted_by, "Conducted By", "text") }}
                            {{ show_value(service.temp, "Temperature", "text") }} 
                            {{ show_value(service.date, "Date", "text") }} 
                        </table>
                    </div>
                </li>
                {% endfor %}
            </ul>
            
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/lts/view.js') }}"></script>

{% endblock %}