{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Edit Room{% endblock %}

{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.view_room', id=room.id) }}">
                            <i class="fa fa-door-closed"></i> LIMBROOM-{{room.id}}
                        </a>
                    </span>Edit Room</h1>
            </div>
        </div>

        <div class="container">
            <form method="POST" action="{{ url_for('storage.edit_room', id=room.id) }}">
                {{ form.csrf_token }}
                {{ form_field(form.name)}}
                <div>
<!--                <div class="btn-group mr-2" role="group" aria-label="First group">-->
<!--                    <a href="{{ url_for('storage.view_room', id=room.id) }}">-->
<!--                        <button type="button" class="btn btn-outline-dark"> Cancel-->
<!--                        </button>-->
<!--                    </a>-->
<!--                </div>-->
                {{ form_field(form.submit) }}
                </div>

            </form>
        </div>




    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}