{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}New Room{% endblock %}

{% block body %}
    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="container">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2><i class="fa fa-building"></i> New Room (LIMBSIT-{{ site.id }})</h2>
            </div>

            <form method="POST" action="{{ url_for('storage.new_room', s_id=site.id) }}">
                {{ form.csrf_token }}
                {{ form_field(form.room) }}
                {{ form_field(form.building) }}
                {{ form_field(form.submit) }}
            </form>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}