{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}New Room{% endblock %}

{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading"><i class="fa fa-building"></i> LIMBBUILD-{{ building.id }}:
                        {{ building.name }}</span>New Room</h1>

            </div>
        </div>

        <div class="container">
            <form method="POST" action="{{ url_for('storage.new_room', id=building.id) }}">
                {{ form.csrf_token }}
                {{ form_field(form.name) }}
                {{ form_field(form.submit) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}