{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}LIMBROM-{{ room.id }}{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">

            <h1>

                <span class="secondary-heading">
                    <a href="{{ url_for('storage.view_site', site_id=room.site_id) }}">
                        <i class="fa fa-building"></i> LIMBSIT-{{ room.site_id }}
                                    </a>
</span>
                <i class="fa fa-door-closed"></i> LIMBROM-{{ room.id }}
            </h1>

            <div class="row">
                <div class="col-sm-9">
                    <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="{{ url_for('storage.edit_room', room_id=room.id) }}">
                                <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                </button>
                            </a>
                        </div>

                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-outline-dark" disabled><i class="fa fa-print"></i>
                                Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Information</h5>
                            {{ show_value(room.room_number, "Room Number", "text") }}
                            {{ show_value(room.building, "Building", "text") }}
                            {{ show_value(room.creation_date, "Creation Date", "datetime") }}

                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="list-group">
                        <li class="list-group-item active">
                            <h5 class="mb-1"><i class="fa fa-temperature-low"></i> Cold Storage</h5>
                        </li>
                        {% for storage in room.storage %}

                            <a href="{{ url_for('storage.view_lts', lts_id=storage.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><i class="fa fa-temperature-low"></i> LIMBLTS-{{ storage.id }}</h5>
                                    <small>{{ storage.creation_date }}</small>
                                </div>
                            </a>
                        {% endfor  %}
                    <a href="{{ url_for('storage.add_lts', room_id=room.id) }}"
                           class="list-group-item list-group-item-action flex-column active"
                           style="text-align: center;">
                            <i class="fa fa-plus"></i> Add Cold Storage
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}