{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}LIMBROM-{{ room.id }}{% endblock %}

{% block body %}

<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.view_building', id=room.building_id) }}">
                            <i class="fa fa-building"></i> LIMBBUILD-{{ room.building_id }}
                        </a>
                    </span>
                    <i class="fa fa-door-closed"></i> LIMBROOM-{{ room.id }} {% if room.is_locked %}<i class="fa fa-lock" style="padding-left: 3px;"></i>{% endif %}
                </h1>


                <div class="row text-muted">
                    <div class="col-7">
                        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                            {% if not room.is_locked %}

                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ url_for('storage.edit_room', id=room.id) }}">
                                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                        Details
                                    </button>
                                </a>
                            </div>

                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ url_for('storage.new_cold_storage', id=room.id) }}">
                                    <button type="button" class="btn btn-outline-dark"><i class="fas fa-plus"></i>
                                        Add Cold Storage
                                    </button>
                                </a>
                            </div>

                            {% endif %}
                            {% if current_user.is_admin == true %}
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a href="{{ url_for('storage.lock_room', id=room.id) }}">
                                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                            class="btn btn-outline-dark"><i class="fa fa-lock"></i> {% if room.is_locked
                                        %}
                                        Unl{% else %}L{% endif %}ock
                                    </button>
                                </a>
                            </div>
                            {% endif %}

                            {% if not room.is_locked %}
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-delete float-right" data-toggle="modal"
                                        data-target="#delete-confirmation">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <!--                                </a>-->
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog"
                                 aria-labelledby="delete-confirmation-modal-title" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-danger text-white">
                                            <h5 class="modal-title" id="delete-confirmation-modal-title">Delete LIMBROOM-{{ room.id }}?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger" role="alert">
                                                <b>Warning:</b> Deleting a room cannot be reversed.
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn-toolbar form-group" style="float:right" role="toolbar"
                                                 aria-label="Toolbar with button groups">
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <a href="{{ url_for('storage.delete_room', id=room.id) }}">
                                                        <button type="button" class="btn btn-delete"><i
                                                                class="fa fa-trash"></i> Delete
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <button type="button"
                                                            data-dismiss="modal"
                                                            class="btn btn-outline-dark" title="Close Modal"><i
                                                            class="fa fa-times"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--                            <div id="delete-confirmation" class="modal-delete" >-->
                            <!--                                <form class="modal-delete-content" action="/action_page.php">-->
                            <!--                                    <div class="container">-->
                            <!--                                        <div class="modal-header bg-danger text-white" style="width: 100%">-->
                            <!--                                            <h1 class="modal-title" id="sample-disposal-modal-title" >Are you sure you-->
                            <!--                                                want to delete the LIMBROOM-{{ room.id }}?</h1>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="modal-body">-->
                            <!--                                            <div class="alert alert-danger" role="alert">-->
                            <!--                                                <p>Deleting a room will delete all associated cold storage, shelves-->
                            <!--                                                    etc.</p></div>-->
                            <!--                                            <p style="padding-top: 50px"/>-->
<!--                                                                        <div class="btn-toolbar form-group" style="float:right" role="toolbar"-->
<!--                                                                             aria-label="Toolbar with button groups">-->
<!--                                                                            <div class="btn-group mr-2" role="group" aria-label="First group">-->
<!--                                                                                <a href="{{ url_for('storage.delete_room', id=room.id) }}">-->
<!--                                                                                    <button type="button" class="btn btn-outline-dark"><i-->
<!--                                                                                            class="fa fa-trash"></i> Delete-->
<!--                                                                                    </button>-->
<!--                                                                                </a>-->
<!--                                                                            </div>-->
<!--                                                                            <div class="btn-group mr-2" role="group" aria-label="First group">-->
<!--                                                                                <button type="button"-->
<!--                                                                                        onclick="document.getElementById('delete-confirmation').style.display='none'"-->
<!--                                                                                        class="btn btn-outline-dark" title="Close Modal"><i-->
<!--                                                                                        class="fa fa-times"></i> Cancel-->
<!--                                                                                </button>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </form>-->
                            <!--                            </div>-->

                            {% endif %}

                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <i class="fa fa-calendar"></i> Created On: {{ room.created_on }}
                        <div class="clearfix"></div>
                        <i class="fa fa-user"></i> Created By: {{ render_author_for_table(room.author) }}
                    </div>
                </div>

            </div>
        </div>

        <div class="container">

            <h2>Room Information</h2>

            <table class="table table-striped">
                {{ show_value(room.name, "Room Name", "text") }}

            </table>

            <h2><i class="fa fa-temperature-low"></i> Cold Storage</h2>

            {% for n in range(0, room.storage|length, 3) %}
            <div class="card-deck mb-3 text-center">
                {% for storage in room.storage[n:n+ 3] %}
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ storage.type }}</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{storage.temp}}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ storage.manufacturer }}</li>
                        </ul>
                        <a href="{{ url_for('storage.view_cold_storage', id=storage.id) }}">
                            <div class="btn btn-lg btn-block btn-outline-primary">Go</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/delete.js') }}"></script>

{% endblock %}
