{% extends "template.html" %}

{% block title %}Upload File{% endblock %}

{% block body %}
    <div class="container">
        <h1><span class="secondary-heading"><i class="fas fa-file"></i> LIMBDOC-{{ document.id }}</span><i class="fa fa-upload"></i> New File</h1>


        <form method="POST" action="{{ url_for('document.new_file', id=document.id ) }}"
              enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form_field(form.file) }}
            {{ form_field(form.submit, with_label=False) }}
        </form>
    </div>
{% endblock %}