{% extends "template.html" %}

{% block title %}Sample Review :: Sample Acquisition Portal{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading">
            <a href="{{ sample._links.self }}">
                <i class="fas fa-vial"></i> {{ sample.uuid }}</a></span>
        <i class="fas fa-file"></i> New Review </h1>
    </div>
</div>
<div class="container">
    
    <form action="{{ url_for('sample.associate_review', uuid=sample.uuid) }}" method="POST">
        {{ form.csrf_token() }}

        <div class="row">
            <div class="col-6">
                {{ form_field(form.review_type) }}
            </div>
            <div class="col-6">
                {{ form_field(form.result) }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_field(form.quality) }}
            </div>
            <div class="col-6">
                {{ form_field(form.conducted_by) }}
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                {{ form_field(form.date) }}
            </div>
            <div class="col-6">
                {{ form_field(form.time) }}
            </div>
        </div>

        {{ form_field(form.comments) }}

        <div class="alert alert-warning" role="alert">
             <botton class="btn btn-secondary" >
                 {{ form_field(form.disposal_edit_on) }}
             </botton>
             Check the box to view and edit disposal instruction.
        </div>

        <div id="disposal_edit_fields">
            <div class="row">
                <div class="col-6">
                    {{ form_field(form.disposal_instruction) }}

                </div>
                <div class="col-6">
                    {{ form_field(form.disposal_date) }}
                </div>
            </div>
            {{ form_field(form.disposal_comments) }}
        </div>
        {{ form_field(form.submit) }}
    </form>


</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/disposal/review_disposal.js') }}"></script>
{% endblock %}