{% extends "template.html" %}

{% block body %}

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-project-diagram"></i> Submit Protocol</h2>

        </div>

        <form method="POST" action="{{ url_for('processing.new_protocol') }}" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {{ form_field(form.name) }}
            {{ form_field(form.protocol_type) }}
            {{ form_field(form.sample_type) }}
            {{ form_field(form.document_upload) }}
            {{ form_field(form.submit) }}
        </form>


    </div>
{% endblock %}