{% extends "template.html" %}

{% block title %}Protocol Portal{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1><i class="fa fa-project-diagram"></i> Protocol Portal</h1>

            <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a href="{{ url_for('protocol.new') }}">
                        <button type="button" class="btn btn-outline-dark"><i class="fa fa-plus"></i> New Protocol</button>
                    </a>
                </div>
    
            </div>
        </div>
    </div>
    <div class="container">
        

        <p>This is the Patient Consent Form Portal. This is where patient consent forms can be found.</p>


        <table id="sampleTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Protocol</th>
                <th>Type</th>
                <th>Uploader</th>
                <th>Created On</th>
            </tr>
            </thead>
            <tbody>
            {% for protocol in protocols %}
                <tr>
                    <td>
                        <a href="{{ url_for('protocol.view', id=protocol.id) }}">
                            <i class="fa fa-project-diagram"></i> LIMBPRO-{{ protocol.id }}: {{ protocol.name }}
                            </a>
                    </td>
                    <td>{{ protocol.type }}</td>
                    <td>{{ render_author_for_table(protocol.author) }}</td>
                    <td>{{ protocol.created_on }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}