{% extends "template.html" %}

{% block title %}LIMBPROC-{{ protocol.id }}: {{ protocol.name }}{% endblock %}

{% block body %}
    <div class="container">

        <h1><span class="secondary-heading">
            <a href="{{ url_for('protocol.index') }}">
                    <i class="fa fa-project-diagram"></i> Protocol Portal
            </a></span> LIMBPROC-{{ protocol.id }}: {{ protocol.name }}</h1>

        <h2>Protocol Information</h2>
        {{ show_value(protocol.type, "Type", "textarea") }}
        {{ show_value(protocol.doi, "DOI", "textarea") }}

        <h2>Materials and Reagents</h2>
        <h2>Equipment</h2>
        <h2>Software</h2>
        <h2>Data Analysis</h2>
        <h2>Procedure</h2>
        <h2>Recipes</h2>

    </div>
{% endblock %}