{% extends "template.html" %}

{% block title %}LIMBPROC-{{ protocol.id }}: {{ protocol.name }}{% endblock %}

{% block body %}
    <div class="container">

        <h1><span class="secondary-heading">
            <a href="{{ url_for('protocol.index') }}">
                    <i class="fa fa-project-diagram"></i> Protocol Portal
            </a></span> LIMBPROC-{{ protocol.id }}: {{ protocol.name }}</h1>

        <h2>Protocol Information</h2>
        {{ show_value(protocol.description, "Description", "textarea") }}
        {{ show_value(protocol.type, "Type", "textarea") }}
        {{ show_value(protocol.doi, "DOI", "textarea") }}

        {% for text in protocol.texts %}
            <h2>{{ text.type }}</h2>
            {{ text.text }}
        {% endfor  %}



    </div>
{% endblock %}