{% extends "template.html" %}

{% block title %}LIMBPRO-{{ protocol.id }}: {{ protocol.name }}{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading">
                <a href="{{ url_for('protocol.index') }}">
                    <i class="fa fa-project-diagram"></i> Protocol Portal
                </a></span> LIMBPRO-{{ protocol.id }}: {{ protocol.name }}</h1>

        <div class="row text-muted">
            <div class="col-7">
                <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                    {% if not protocol.is_locked %}
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="{{ url_for('protocol.edit', id=protocol.id) }}">
                            <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                Details
                            </button>
                        </a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{{ url_for('protocol.new_text', id=protocol.id) }}">

                            <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                class="btn btn-outline-dark">
                                <i class="fa fa-list"></i> New Text
                            </button>
                        </a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="{{ url_for('protocol.associate_document', id=protocol.id) }}">

                            <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                class="btn btn-outline-dark">
                                <i class="fas fa-file"></i> Associate Document
                            </button>
                        </a>
                    </div>
                    {% endif %}

                    <div class="btn-group mr-2" role="group" aria-label="Second group">
{#                        <a href="{{ url_for('protocol.remove', id=protocol.id) }}">#}
                            <button id="protocol_remove" type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                class="btn btn-outline-dark">
                               <i class="fa fa-trash-alt"></i> Remove
                            </button>
{#                        </a>#}
                    </div>

                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                            class="btn btn-outline-dark" disabled>
                            <i class="fa fa-lock"></i> {% if protocol.is_locked %}Unl{% else %}L{% endif %}ock
                        </button>
                    </div>


                </div>
            </div>
            <div class="col-5 text-right">
                <i class="fa fa-link"></i> {% if protocol.doi != "" %}
                <a href="{{ protocol.doi_url }}" target="_blank">{{ protocol.doi }}</a>{% else %}None Available{% endif %}
                <div class="clearfix"></div>
                <i class="fa fa-calendar"></i> Created On: {{ protocol.created_on }}
                <div class="clearfix"></div>
                <i class="fa fa-user"></i> Created By: {{ render_author_for_table(protocol.author) }}
            </div>

        </div>
    </div>
</div>
<div class="container">



    <h2>Protocol Information</h2>

    <table class="table table-striped">
        {{ show_value(protocol.type, "Type", "textarea") }}
        {{ show_value(protocol.description, "Description", "textarea") }}
    </table>

    <h2>Documents</h2>

    {% for document in protocol.documents %}
    <div class="media">
        <span class="align-self-start mr-3">
            <h1 class="fas fa-file"></h1>
        </span>
        <div class="media-body">
            <h5 class="mt-0">LIMBDOC-{{ document.id }}: {{ document.name }}</h5>
            <div class="row">
                <div class="col-6">
                    <i class="fa fa-calendar"></i> Created On: {{ document.created_on }}
                    <div class="clearfix"></div>
                    <i class="fa fa-user"></i> Created By: {{ render_author_for_table(document.author) }}
                </div>
                <div class="col-6">
                    <a href="{{ url_for('document.view', id=document.id) }}">
                        <div class="btn btn-primary float-right">
                            View
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for text in protocol.texts %}
    <h2>{{ text.type }}</h2>
    <div class="row text-muted">
        <div class="col-6">
            <i class="fa fa-user"></i> Created By: {{ render_author_for_table(text.author) }}
        </div>
        <div class="col-6 text-right">
            <i class="fa fa-calendar"></i> Created On: {{ text.created_on }}
        </div>
    </div>

    <div class="protocol-text">
        {{ text.text|safe }}
    </div>

    <div class="row">
        <div class="col">
            <div class="btn btn-danger float-right disabled"><i class="fa fa-trash"></i> Remove Text</div>
        </div>
    </div>

    {% endfor %}

</div>

<!--- Protocol Delete Confirmation -->
<div class="modal fade" id="cart-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="cart-confirmation-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="cart-confirmation-label">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="cart-confirmation-msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="cart-confirm-button" class="btn btn-success">Confirm</button>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
    sessionStorage.removeItem("protocol_info");
    protocol_info = {{ protocol | tojson }};
    sessionStorage.setItem("protocol_info", JSON.stringify(protocol_info));
</script>
<script src="{{ url_for('static', filename='js/protocol/view.js') }}"></script>

{% endblock %}
