{% extends "template.html" %}

{% block title %}New Cryovial Box{% endblock %}

{% block body %}

        <div class="container">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2><i class="fa fa-cube"></i> New Cryovial Box</h2>
            </div>
            

            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container text-center">
                          <h1><i class="fa fa-exclamation-triangle"></i></h1>
                          <h2>Manual Entry</h2>  
                          <div class="btn btn-primary">Go</div>  
     
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container text-center">
                          <h1><i class="fa fa-upload"></i></h1>
                          <h2>From File</h2>
                          <a href="#">
                            <div class="btn btn-primary">Go</div>  
                            </a>
                        </div>
                      </div>
                </div>
        </div>
            </div>


        </div>
{% endblock %}
