{% extends "template.html" %}

{% block title %}Sample Acquisition Portal{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sample Acquisition Portal</h1>

        <div class="row">
            <div class="col-sm">
                <div class="btn btn-primary">
                    Add Attributes
                </div>
            </div>
            <div class="col-sm">
                <div class="btn btn-primary">
                    Add Samples
                </div>
            </div>
        </div>
    </div>
{% endblock %}