{% extends "template.html" %}

{% block title %}Sample Acquisition Portal{% endblock %}

{% block body %}
    <div class="container">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-vial"></i> Sample Acquisition Portal</h1>
          </div>
        <p>Welcome to the Sample Acquisition Portal. Here you can find information concerning samples, including:</p>

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Sample Information</h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Something here</li>
                    </ul>
                    <a href="{{ url_for('sample.index') }}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                            View Samples
                        </button>
                    </a>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Sample Attribute</h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Something here</li>
                    </ul>
                    <a href="{{ url_for('sample.attribute_portal') }}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                            View Sample Attributes
                        </button>
                    </a>
                </div>
            </div>
             <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">Donor Information</h2>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Something here</li>
                    </ul>
                    <a href="{{ url_for('sample.attribute_portal') }}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                            View Donor Information
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}