{% extends "template.html" %}

{% block title %}Donors{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fa fa-male"></i> Donors</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a href="#">
                    <div class="btn btn-primary">
                        <i class="fas fa-plus"></i> Add Donor
                    </div>
                </a>
            </div>
        </div>

        <p>This is the Donor Portal. This is where your donors can be found. </p>

        <table id="documents" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Upload Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for donor in donors %}
                <tr>
                    <td>
                        LIMBDON-{{ donor.id }}
                    </td>
                    <td>{{ donor.age }}</td>
                    <td>{{ donor.sex.value }}</td>
                    <td>{{ donor.creation_date.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <a href="#">
                            <btn class="btn btn-sm btn-primary">
                                View
                            </btn>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}