@page {
    width: 60mm;
    height: 10mm;
    padding: 0.5mm;
}
img {
    height: 9.5mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
}
.label {
    font-family: sans-serif;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 7px;
}