{% extends "template.html" %}

{% block title %}Administrator Registration{% endblock %}

{% block body %}
<b-container>
    <h1>Administrator Registration</h1>

    <p>Something about the administrator account...</p>

    <form method="POST" action="{{ url_for('setup.admin_registration' ) }}" id="registration">
        {{ form.csrf_token }}

        <h2>Account Information</h2>

        {{ form_field(form.email) }}

        {{ form_field(form.password)}}

        {{ form_field(form.confirm_password)}}


        <h2>Personal Information</h2>

        {{ form_field(form.title) }}

        {{ form_field(form.first_name)}}

        {{ form_field(form.last_name) }}

        {{ form_field(form.phone_number) }}

        {{ form_field(form.street_address_one) }}

        {{ form_field(form.street_address_two) }}

        {{ form_field(form.city) }}

        {{ form_field(form.county) }}

        {{ form_field(form.country) }}

        {{ form_field(form.submit, with_label=False)}}



    </form>

{% endblock %}



{% block javascript %}

    <script>
    </script>

{% endblock %}