{% extends "template.html" %}

{% block title %}Setup{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome to LImBuS</h1>

        </div>

    <p>This is the first time setup page for LImBuS. Something something if you didn't expect something something tell
        the administrator.</p>

    <div class="card">
        <div class="card-header">
            Before we continue
        </div>
        <div class="card-body">

            <div class="media">
                <h3 class="mr-3">✅</h3>
                <div class="media-body">
                    <h5 class="mt-0">Ensure that you have all required information ready.</h5>
                    <p>During the setup process, we will require you to enter in quite a lot of information concerning the biobank.</p>
                </div>
            </div>

            <div class="media">
                <h3 class="mr-3">✅</h3>
                <div class="media-body">
                    <h5 class="mt-0">Have plenty of battery on the device you are using.</h5>
                    <p>We will ask you information concerning...</p>
                </div>
            </div>

            <div class="media">
                <h3 class="mr-3">❌</h3>
                <div class="media-body">
                    <h5 class="mt-0">Do not close this window down, until confirmation.</h5>
                    We will ask you information concerning...
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('setup.eula') }}">
                <div class="btn btn-primary float-right">
                    Continue
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}