{% extends "template.html" %}

{% block title %}Setup{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-smile"></i> Welcome to LImBuS</h2>
        </div>

    <p>This is the first time setup page for LImBuS. Before we continue, read the following instructions carefully as to
        ensure that this as painless as possible.</p>

    <div class="card">
        <div class="card-header">
            Before we continue...
        </div>
        <div class="card-body">

            <div class="media">
                <h3 class="mr-3"><i class="fa fa-file-alt"></i></h3>
                <div class="media-body">
                    <h5 class="mt-0">Please ensure that you have all required information ready.</h5>
                    <p>During the setup process, we will require you to enter the following information:</p>

                    <p>Please ensure that you have all of this at hand before continuing.</p>
                </div>
            </div>

            <div class="media">
                <h3 class="mr-3"><i class="fa fa-battery-full"></i></h3>
                <div class="media-body">
                    <h5 class="mt-0">Check your battery.</h5>
                    <p>The progress of the setup will not be held in the event of a system shutdown.</p>
                    <p>To ensure that you don't lose all information, check that you have plenty of battery remaining before continuing.</p>
                </div>
            </div>

            <div class="media">
                <h3 class="mr-3"><i class="fa fa-times-circle"></i></h3>
                <div class="media-body">
                    <h5 class="mt-0">Do not close this window down, until told otherwise.</h5>
                    <p>For the reasons given above, do not close your browser window until you have been told otherwise.</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('setup.eula') }}">
                <div class="btn btn-success float-right">
                    <i class="fa fa-check"></i> Continue
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}