{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Building Registration{% endblock %}

{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1><span class="secondary-heading">
                        <a href="{{ url_for('storage.view_site', id=site.id) }}">
                            <i class="fas fa-boxes"></i> LIMBSITE-{{site.id}}</span>
                    </a>
                    Register Building
                </h1>
            </div>
        </div>
        
        <div class="container">

            <form method="POST" action="{{ url_for('storage.new_building', id=site.id) }}">
                {{ form.csrf_token }}
                {{ form_field(form.name) }}
                <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {{ form_field(form.submit) }}
                    </div>
                    <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                        <a href="{{ url_for('storage.view_site',id=site.id) }}">
                            <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                Cancel
                            </button></a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}