{% extends "template.html" %}

{% block title %}New Cryovial Box{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

<div id="sidebar-wrapper">
  {{ storage_navbar() }}

  <div class="storage">
    <div class="jumbotron">
      <div class="container">
        <h1>

          <div class="secondary-heading">
            <a href="{{ url_for('storage.index') }}">
              <i class="fas fa-boxes"></i> Sample Storage
            </a>
          </div>
          <i class="fa fa-grip-vertical"></i> New Sample Rack
        </h1>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-6">
          <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
              <h1><i class="fa fa-exclamation-triangle"></i></h1>
              <h2>Manual Entry</h2>
              <p>Enter the Sample Rack information manually.</p>
              <a href="{{ url_for('storage.rack_manual_entry') }}">
                <div class="btn btn-outline-dark">Go</div>
              </a>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
              <h1><i class="fa fa-upload"></i></h1>
              <h2>From File</h2>
              <p>Create a Sample Rack from a plaintext file.</p>
                <a href="{{ url_for('storage.rack_create_from_file') }}">
{#              <a href="{{ url_for('storage.rack_automatic_entry') }}">#}
                <div class="btn btn-outline-dark">Go</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}