{% extends "template.html" %}

{% block title %}Sample Storage Portal{% endblock %}

{% block body %}

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-boxes"></i> Sample Storage Portal</h2>
        </div>

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h3 class="card-title pricing-card-title"><i class="fa fa-building"></i> Site Information
                    </h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <p>This is where Processing Protocol information can be found.</p>
                    </ul>
                    <button class="btn btn-lg btn-block btn-outline-primary"
                            onclick="location.href='{{ url_for('storage.site_index') }}'">
                        Go
                    </button>
                    </a>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h3 class="card-title pricing-card-title"><i class="fas fa-boxes"></i> Long Term Cold Storage</h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <p>This is where Sample Attribute information can be found.</p>
                    </ul>
                    <button class="btn btn-lg btn-block btn-outline-primary"
                            onclick="location.href='{{ url_for('storage.lts_index') }}'">
                        Go
                    </button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h3 class="card-title pricing-card-title"><i class="fa fa-cube"></i> Cryovial Boxes</h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <p>This is where Sample Attribute information can be found.</p>
                    </ul>
                    <button class="btn btn-lg btn-block btn-outline-primary"
                            onclick="location.href='{{ url_for('storage.cryobox_index') }}'">
                        Go
                    </button>
                </div>
            </div>

        </div>

    </div>
{% endblock %}