{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}Sample to Box{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            
            <h1><span class="secondary-heading"><i class="fa fa-cube"></i>LIMBCRB-{{cryo.id}}</span> Sample to Box</h1>


            <form action="{{ url_for('storage.add_cryobox_sample', cryo_id = cryo.id, row=row, col=col) }}" method="post">
                {{ form.csrf_token }}
                {{ form_field(form.samples) }}
                {{ form_field(form.submit) }}
            </form>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}