{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}Cryovial Boxes{% endblock %}

{% set letters="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            
            <h1><span class="secondary-heading">Cryovail Box Container</span>
                <i class="fa fa-cube"></i> LIMBCRB-{{ cryo.id }}</h1>


            <table class="table table-responsive">
                <thead>
                    <th scope="col" style="width: 0.5%;"></th>
                    {% for i in range(cryo.num_cols) %}
                    <th style="width: {{ cryo.num_cols / 0.5 }}%;">{{ letters[i] }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for r in range(cryo.num_rows) %}
                    <tr>
                        <th scope="row">{{ r }}</th>
                        {% for c in range(cryo.num_cols) %}
                        <td id="_{{ r }}_{{ c }}">
                            <a href="{{ url_for('storage.add_cryobox_sample', cryo_id=cryo.id, row=r, col=c) }}">
                                <div class="btn btn-danger">
                                    Add
                                </div>
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/cryobox/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}