{% extends "template.html" %}

{% block title %}Associate Document :: Sample Acquisition Portal{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-file"></i> Document -> <i class="fas fa-vial"></i> {{ sample.uuid }}
                Association</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

            </div>
        </div>


        <form action="{{ url_for('sample.associate_document', uuid=sample.uuid) }}" method="POST">
            {{ form.csrf_token }}
            {{ form_field(form.submit) }}
        </form>


    </div>
{% endblock %}