{% extends "template.html" %}

{% block title %}{{ uuid }}{% endblock %}

{% block body %}
<div id="loading-screen" class="container text-center">
  <div class="loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <h1>Just a sec...</h1>
    <h2>Getting {{ uuid }} </h2>
  </div>
</div>


<div id="error" style="display: none;">
  <div class="alert alert-danger text-center">
    <b>Error:</b>We've not been able to find {{ uuid }}, are you sure it exists?
  </div>
</div>

<div id="content" style="display: none;">


  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1><span class="secondary-heading">
              <a href="{{ url_for('sample.index') }}">
                <i class="fas fa-vial"></i> Sample Portal
              </a></span> <span id="uuid"></span></h1>
          <h4 id="parent-div" style="display: none; margin-top:-5px;" class="text-muted"> Parent Sample: <span
              id="parent"></span></h4>


          <div class="text-muted">
            <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#consentModal"><i
                    class="fa fa-question"></i> View Consent</button>
              </div>



              <div class="btn-btn-group mr-2" role="group">
                <div class="dropdown">
                  <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-vial"></i> Sample Actions
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('sample.new_custom_attribute', uuid=uuid) }}"><i class="fab fa-buffer"></i> Associate Custom Attribute</a>
                    <a class="dropdown-item" href="{{ url_for('sample.dispose', uuid=uuid) }}">
                      <i class="fa fa-trash"></i> Dispose Sample</a>
                    <a class="dropdown-item" href="{{ url_for('sample.associate_review', uuid=uuid) }}"><i
                      class="fas fa-file"></i> New Review</a>
                      
                    <a class="dropdown-item" href="{{ url_for('sample.new_protocol_event', uuid=uuid) }}"><i
                        class="fa fa-project-diagram"></i> New Protocol Event</a>
                    <a class="dropdown-item" href="{{ url_for('sample.associate_document', uuid=uuid) }}"><i
                      class="fas fa-file"></i> Associate Document</a>
                    <a class="dropdown-item" href="{{ url_for('sample.aliquot', uuid=uuid) }}"><i
                        class="fas fa-vial"></i> Aliquot Sample</a>
                    <a class="dropdown-item"><i class="fa fa-expand-arrows-alt"></i> Derive Sample</a>
                    
                  </div>
                </div>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" id="add-cart-btn"><i class="fa fa-cart-plus"></i>
                  Add to Cart</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" id="print-label-btn"><i class="fa fa-print"></i>
                  Print
                  Label</button>
              </div>

            </div>
          </div>

        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <img id="barcode" alt="barcode" style="width:100%;" />

            </div>
            <div class="card-footer">
              <div id="qrcode" class="btn btn-sm btn-outline-dark">
                QR
              </div>
              <div id="datamatrix" class="btn btn-sm btn-outline-dark">
                DataMatrix
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="basic-info-nav">Basic Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="protocol-events-nav">Protocol Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="associated-documents-nav">Associated Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sample-review-nav">Sample Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lineage-nav">Lineage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-attr-nav">Custom Attributes</a>
      </li>
    </ul>

    <div id="basic-info">
      <div class="row">
        <div class="col-9">
          <table class="table table-striped" id="basic-information"></table>
        </div>

        <div class="col-3 text-center">
          <div class="card">
            <div class="card-header">
              Sample Quantity
            </div>
            <div class="card-body">
              <canvas id="quantity-chart" width="100%" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div id="custom-attributes-div" style="display: none">
          <table class="table table-striped" id="custom-attributes-table"></table>
      </div>

    <div id="protocol-event-info" style="display:none;">
      <ul class="timeline"  id="protocol-event-li"></ul>
    </div>

    <div id="sample-review-info" style="display:none;">
      <ul class="timeline"  id="sample-review-li"></ul>
    </div>

    <div id="associated-documents" style="display:none;">
      <table id="documentTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Document</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>





    <div id="lineage-info" style="display:none;">

{#    <form id="select_sample" method="POST"#}
{#          action="{{ url_for('storage.auto_assign_sample_to_rack', id=1) }}">#}
      <table id="subSampleTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>DBid</th>
            <th>Barcode</th>
            <th>Status</th>
            <th>BaseType</th>
            <th>Type</th>
            <th>Container</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>created_on</th>
            <th></th>

          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
{#        <div class="col-9 float-left">#}
{#            <select id="select_rack">#}
{#                <option value=0>---- Store to a rack  ----</option>#}
{#            </select>#}
{#        </div>#}
{#        <div class="col-9 float-left">#}
{#            <select id="select_shelf" >#}
{#                <option value=0>---- Store to a shelf ----</option>#}
{#            </select>#}
{#        </div>#}

      <div class="btn-group mr-2 float-right" role="group" aria-label="First group">
{#        <button type="button" class="btn btn-outline-dark" id="subsample-to-cart-btn"><i class="fa fa-cart-plus"></i>#}
        <button type="button" class="btn btn-success float-right" id="subsample-to-cart-btn"><i class="fa fa-cart-plus"></i>
          Add Subsample to Cart</button>
      </div>

{#        <button type="button" class="btn btn-success float-right" id="subsample_to_storage">Store</button>#}

{#    </form>#}


    </div>
  </div>

</div>

</div>
</div>



<div class="modal fade" id="delete-protocol-event-confirm" tabindex="-1" role="dialog" aria-labelledby="delete-protocol-event-confirm-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="delete-protocol-event-confirm-label">Modal title</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Review Modal -->
<div class="modal fade" id="delete-review-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="delete-review-confirm-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="delete-review-confirm-modal-title">Confirm Review/Disposal Instruction Removal</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <B>Warning:</B> This action cannot be undone!
        </div>
        <p>Please enter the Review UUID to confirm that you want to remove this Event:</p>
        <input type="text" class="form-control" id="review-uuid-remove-confirmation-input"></input>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
        <button type="button" id="review-remove-confirm-button" class="btn btn-success" disabled>Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Protocol Modal -->
<div class="modal fade" id="delete-protocol-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="delete-protocol-confirm-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="delete-protocol-confirm-modal-title">Confirm Protocol Event Removal</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <B>Warning:</B> This action cannot be undone!
        </div>
        <p>Please enter the Protocol Event UUID to confirm that you want to remove this Event:</p>
        <input type="text" class="form-control" id="protocol-uuid-remove-confirmation-input"></input>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
        <button type="button" id="protocol-remove-confirm-button" class="btn btn-success" disabled>Confirm</button>
      </div>
    </div>
  </div>
</div>


<!--- Cart Confirmation -->
<div class="modal fade" id="cart-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="cart-confirmation-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="cart-confirmation-label">Cart Confirmation</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="cart-confirmation-msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Consent Modal -->
<div class="modal fade bd-example-modal-lg" id="consentModal" tabindex="-1" role="dialog"
  aria-labelledby="consentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Digital Consent Form</h5>
        <button type="button" class="btn-close btn-close-black" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h2><span id="consent_name"></span></h2>
            <h3>Version: <span id="consent_version"></span></h3>
          </div>

          <label>Patient Consent Form ID/Code</label>
          <p><span id="consent_identifier"></span></p>
        </div>
        <ul id="questionnaire-list" class="list-group list-group-flush">

        </ul>
        <div class="card-footer">
          <label>Comments</label>

          <label>Date Signed</label>
          <p><span id="consent_date"></span></p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sample/view.js') }}"></script>

{% endblock %}