{% extends "template.html" %}

{% block title %}{{ uuid }}{% endblock %}

{% block body %}
<div id="loading-screen" class="container text-center">
  <div class="loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <h1>Just a sec...</h1>
    <h2>Getting {{ uuid }} </h2>
  </div>
</div>


<div id="content" style="display: none;">

  <div class="jumbotron" style="">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1><span class="secondary-heading">
              <a href="{{ url_for('sample.index') }}">
                <i class="fas fa-vial"></i> Sample Portal
              </a></span> <span id="uuid"></span></h1>
          <h4 id="parent-div" style="display: none; margin-top:-5px;" class="text-muted"> Parent Sample: <span
              id="parent"></span></h4>


          <div class="text-muted">
            <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#consentModal"><i
                    class="fa fa-question"></i> View Consent</button>
              </div>

              <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.associate_document', uuid=uuid ) }}">
                <button type="button" class="btn btn-outline-dark"><i
                  class="fas fa-file"></i> Associate Document</button>
                </a>
              </div>

              <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.associate_review', uuid=uuid ) }}">
                <button type="button" class="btn btn-outline-dark"><i
                  class="fas fa-file"></i> New Review</button>
                </a>
              </div>


              <div class="btn-btn-group mr-2" role="group">
                <div class="dropdown">
                  <button class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-vial"></i> Sample Actions
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('sample.aliquot', uuid=uuid) }}"><i
                        class="fas fa-vial"></i>Aliquot</a>
                    <a class="dropdown-item"><i class="fa fa-expand-arrows-alt"></i> Derive</a>
                    
                  </div>
                </div>
              </div>

              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-dark" id="print-label-btn"><i class="fa fa-print"></i>
                  Print
                  Label</button>
              </div>

            </div>
          </div>

        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <img id="barcode" alt="barcode" style="width:100%;" />

            </div>
            <div class="card-footer">
              <div id="qrcode" class="btn btn-sm btn-outline-dark">
                QR
              </div>
              <div id="datamatrix" class="btn btn-sm btn-outline-dark">
                DataMatrix
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="basic-info-nav">Basic Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="collection-nav">Collection and Processing Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="associated-documents-nav">Associated Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sample-review-nav">Sample Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lineage-nav">Lineage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-attr-nav">Custom Attributes</a>
      </li>
    </ul>

    <div id="basic-info">
      <div class="row">
        <div class="col-9">
          <table class="table table-striped" id="basic-information"></table>

          <h2>Comments</h2>
          <blockquote class="blockquote" id="comments" class="text-normal"></blockquote>

          <div id="documents"></div>
        </div>

        <div class="col-3 text-center">
          <div class="card">
            <div class="card-header">
              Sample Quantity
            </div>
            <div class="card-body">
              <canvas id="quantity-chart" width="100%" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="collection-info" style="display:none;">
      <h2>Collection Information</h2>
      <table class="table table-striped" id="collection_information"></table>

      <h2>Processing Information</h2>
      <table class="table table-striped" id="processing_information"></table>

    </div>

    <div id="associated-documents" style="display:none;">
      <table id="documentTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Document</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>





    <div id="lineage-info" style="display:none;">


      <table id="subSampleTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Identifier</th>
            <th>Type</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>

</div>

</div>
</div>


<!-- Consent Modal -->
<div class="modal fade bd-example-modal-lg" id="consentModal" tabindex="-1" role="dialog"
  aria-labelledby="consentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Digital Consent Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h2><span id="consent_name"></span></h2>
            <h3>Version: <span id="consent_version"></span></h3>
          </div>

          <label>Patient Consent Form ID/Code</label>
          <p><span id="consent_identifier"></span></p>
        </div>
        <ul id="questionnaire-list" class="list-group list-group-flush">

        </ul>
        <div class="card-footer">
          <label>Comments</label>

          <label>Date Signed</label>
          <p><span id="consent_date_signed"></span></p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sample/view.js') }}"></script>
{% endblock %}