{% extends "template.html" %}


{% block title %}Enter Donor Consent Form Details{% endblock %}

{% block body %}


<div class="container">

      <div class="modal-header">
        <button type="button" id="print-consent" class="btn-icon" hidden>
            <i class="fa fa-print" aria-hidden="true"></i>
        </button>

        <h5 class="modal-title" id="consentModalLabel">
            {% if donor_id -%}
            <span id="donor-colour">
            <a id="donor_view" href="{{ url_for('donor.view', id=donor_id) }}">
                <i class="fa fa-user-circle"></i> LIMBDON-{{ donor_id }}</a></span>
            {%- endif %}
            Digital Consent Form LIMBDC-{{ consent_id }}
        </h5>
        <button type="button" class="btn-close btn-close-black" data-dismiss="modal" aria-label="Close" hidden>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <form id="consent-form" method="POST">

        {{ form.csrf_token() }}
        <div class="card">
            <div class="card-header">
                <div class="text-center">

                    <h2>{{  form.template_name.data }}</h2>
                    <h3>Version: {{ form.template_version.data }}</h3>
                </div>

                {{ form_field(form.identifier)}}

            </div>
            <ul id="#questionnaire-list" class="list-group list-group-flush">
                {% set count = namespace(value=0) %}
                {% for question in form %}
                {% if (question.type == "BooleanField") %}
                {% set count.value = count.value + 1 %}
                {{ render_question( question, count.value ) }}
                {% endif %}
                {% endfor %}
            </ul>


            <div class="card-body">
                <div id="check-button" class="btn btn-success full-width">
                    <span id="check-status">Check</span> All
                </div>
            </div>

            <div class="card-footer">
                {{ form_field(form.comments) }}
            <div class="row">
                <div class="col-6">
                    {{ form_field(form.date) }}

                </div>
                <div class="col-6">
                    {{ form_field(form.undertaken_by) }}

                </div>
            </div>
            </div>
        </div>


<div class="card">
            <div class="row">
                <div class="col-6">
                    {{ form_field(form.study_select) }}
                </div>
                <div class="col-6">
                    {{ form_field(form.study.reference_id)}}
                </div>
            </div>
                {{ form_field(form.study.comments) }}
            <div class="row">
                <div class="col-6">
                    {{ form_field(form.study.date) }}

                </div>
                <div class="col-6">
                    {{ form_field(form.study.undertaken_by) }}
                </div>
            </div>
</div>


        <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                {{ form_field(form.submit) }}
            </div>
            <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">

                    {% if donor_id %}
                    <a id="home-view" href="{{ url_for('donor.view', id=donor_id) }}">
                    {% elif sample_uuid!=null %}
                    <a id="home-view" href="{{ url_for('sample.view', uuid=sample_uuid) }}">
                    {% endif %}
                    <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                        Cancel
                    </button></a>
            </div>
        </div>


    </form>
</div>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/donor/donor_consent_questionnaire.js') }}"></script>
<script src="{{ url_for('static', filename='js/sample/information/add/consent.js') }}"></script>

{% endblock %}