{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% set title = "LIMBSHF-" %}

{% block title %}{% endblock %}

{% block body %}
    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="container">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2><i class="fa fa-building"></i> LIMBSHF-{{ shelf.id }}: {{ shelf.name }}</h2>
                <div class="btn-toolbar">
                    <div class="btn-group mr-2">

                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h3>Samples</h3>
                <button class="btn btn-primary" data-toggle="modal" data-target="#assign-sample-modal"><i class="fa fa-plus"></i>
                    Assign Sample
                </button>
            </div>
            {% if samples|length > 0 %}
                {% for sample in samples %}
                <div class="card">
                    <div class="card-header">
                        {{ sample.id }}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <span class="text-secondary">No Samples</span>
            {% endif %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                <h3>Cryovial Boxes</h3>
                <button class="btn btn-primary" data-toggle="modal" data-target="#assign-cryobox-modal"><i class="fa fa-plus"></i>
                    Assign Cryovial Box
                </button>
            </div>
            {% if cryoboxes|length > 0 %}
                {% for box in cryoboxes %}
                <div class="card">
                    <div class="card-header">
                        {{ box.serial }}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <span class="text-secondary">No Cryovial Boxes</span>
            {% endif %}
        </div>

        <div id="assign-sample-modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Assign sample to {{ shelf.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Assign</button>
              </div>
            </div>
          </div>
        </div>

        <div id="assign-cryobox-modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Assign cryovial box to {{ shelf.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="cryobox-modal-body" class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div id="cryobox-error-alert" class="alert alert-danger hidden">
                  <strong>Error: </strong><span id="cryobox-error-message">Could not assign Cryobox to shelf</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="assign-cryobox-button" type="button" class="btn btn-primary">Assign</button>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/shelf/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}