@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif;
    padding-top: 65px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.container {
    max-width: 1280px;
}

nav {
    height:65px;
    padding:0px;
}

nav img {
    height:28px;
    
}

.nav-link .active {
    font-weight: bold;
}

.nav-tabs {
    margin-bottom: 1em;
}

.jumbotron table {
    color:#fff;
}


.form-description {
    margin-top:-10px;
    padding:0;
}

.alert-warning {
    background-color: #ffff00;
    color:#000 !important;
}

.btn-secondary {
    background-color: #ffffff;
    color: #000;
    margin-right:0.5em;
}

.btn-secondary:hover {
    background-color: #ffff00;
    color: #000;
}

#wmd-preview {
    background-color: #f5f5f5;
    padding:1em;
}

.user-item {
    white-space: normal;
  }
  

.colour-circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 1pt #fff;
}

.loading {
    padding-top:5em;
}

.filter-panel {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

#view_area {
    margin:0 auto 0;
}

#view_area .col {
    max-width: 8%;
}

.protocol-text {
    background-color: #f5f5f5;
    padding:1em;
    margin:1em;
}

.row {
    margin-top:0.5em;
    margin-bottom: 0.5em;
}

nav a {
    text-decoration: none;

}
.test {
    background-color: #000;
}

.jumbotron {
    padding: 1em 0 2em 0 ;
    background-color: #007bff;
    color: #fff;
    border-radius: 0;
    border-bottom: #ffff00 solid 5px;

}



.jumbotron .dropdown-item {
    color:#000 !important;
}

.jumbotron .dropdown-item:hover {
    color:#000 !important;
    background-color: #FFFF00;

}

.jumbotron a {
    color: #FFFF00;
}


.jumbotron .text-muted {
    color: #fff !important;
}

.jumbotron .btn {
    background-color: #fff;
}

.jumbotron .btn-outline-dark:hover {
    background-color: #FFFF00;
    color: #000;
}

#homepage-jumbotron {
    color: #fff;
    background-image: url("../images/header.JPG") ;
}

.full-width {
    width:100%;
}

.form-group label {
    font-weight: 600;
}

.form-check label {
    font-weight: 600 !important;
}

.form-error {
    color: #b10e1e;
    font-weight: 600;
    margin:0px;
}

h1, h2, h3, h4 {
    margin-top: 15px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-weight: 700;

    font-size: 24px;
}

.error {
    border-left: 5px #b10e1e solid;
    padding-left:10px;
}

h3 {
    font-weight: 700;

    font-size: 19px;
}

h4 {
    font-weight: 700;

    font-size: 16px;
}

p {
    font-size: 16px;
}

.alert {
    border-radius: 0px;
}

.progress {
    height:0.5em;
}

.card {
    border-radius: 0px;
}

.data {
    line-height: 1;
    display:block;
    font-weight: 700;
}

canvas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.data .large {
    font-size: 80px;
}

.progress {
    background-color: #ffffff;
    border:1px solid #FFFF00;

}

.progress-bar {
    background-color: #FFFF00 !important;
}

.data .small {
    font-size: 18px;
}

.modal {
    border-radius: 0px;
}

.secondary-heading {
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #ffff17;
    font-size: 27px;
    line-height: 1.11111;
}

.media-body {
    text-align: left;
}

.btn {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
    border: 2px solid #000;
}

.input-group-text {
    border-radius: 0px;
    border: 2px solid #000;
    padding:0 1.75em 0 1.75em;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }

.equal {
    display: -webkit-flex;
    display: flex;
}

.progress {
    margin: 20px;
}

.storage {
    width:100% !important;
}

footer {
    background-color: #F5F5F5;
    border-top: solid 5px #404040;
    z-index:999;
    margin-top: 30px;
}



.segment {
	display: block;
	margin:1em;
	min-width: 30px;
}

.no {
	background-color: red;
}

.exception-smiley {
    padding-top: 30px;
    font-size: 192px;
}

#submit {
    margin-bottom: 30px;
}

.no-margin {
    margin-bottom: 0px !important;
}

.exception-error {
    text-align: center;
}

.hidden {
    display: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1.00);
}

#barcode {
    width:100%;
    padding:0px;
    margin:0px;
}


.btn-light, .btn-light:hover, .btn-light:active {
    background-color: #fff;
    border: 2px #000 solid;
}

.dropdown-item {
    z-index: 1000;
}

.box {
    text-align: center;
}

.square {
    background-color: #fff;
    margin:0.1em;
    padding-bottom: 100%;
    position: relative;
    height: 0;

}

.tube {
    border: #9ecae1 solid 1px;
}

.box-heading {
    max-height: 3em;
}

.rack-view-area {
    background-color: #eeeeee;
    padding-top:1em;
    padding-bottom: 1em;
}

.square>div {
    width:100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.square:hover {
    background-color: #007bff;
    color:#fff;
}

.present {
    background-color: #bbebdf;
}

table th {
    text-align: center;
    background-color: #007bff;
    color: #ffffff;
    font-weight: normal;
}

