{% extends "template.html" %}

{% block title %}Create Aliquot{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-code-branch"></i> Create Aliquot</h2>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <span class="col-sm-3">Parent Sample:</span>
                    <span class="col-sm-9">LIMBSMP-{{ sample.id }}</span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <span class="col-sm-3">Original Quantity:</span>
                    <span class="col-sm-9">{{ sample.quantity }}</span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-3">Available Quantity:</span>
                    <span class="col-sm-9" id="available_quantity">{{ sample.current_quantity }}</span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-3">Proposed Quantity:</span>
                    <span class="col-sm-9" id="proposed_quantity">{{ sample.current_quantity }}</span>
                </div>
            </div>
        </div>

        <form>
            {{ form_field(form.count) }}
            {{ form_field(form.use_entire) }}
            {{ form_field(form.size) }}
            {{ form_field(form.sample_type) }}

            <div class="row">
                <div class="col-6">
                    {{ form_field(form.aliquot_date) }}
                </div>
                <div class="col-6">
                    {{ form_field(form.aliquot_time) }}
                </div>
            </div>
            {% if sample.sample_type == "Cellular" %}
                {{ form_field(form.cell_viability) }}
            {% endif %}
            {{ form_field(form.lock_parent) }}
            {{ form_field(form.submit) }}
        </form>

    </div>

{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/aliquot/create.js') }}"></script>
{% endblock %}