{% extends "template.html" %}

{% block title %}Create Aliquot{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-code-branch"></i> Create Aliquot</h2>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <span class="col-sm-3">Sample:</span>
                    <span class="col-sm-9">LIMBSMP-{{ sample.id }}</span>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <span class="col-sm-3">Quantity Available:</span>
                    <span class="col-sm-9">100mL.</span>
                </div>
            </div>
        </div>

        <form>
            {{ form_field(form.count) }}
            {{ form_field(form.use_entire) }}
            {{ form_field(form.size) }}
            {{ form_field(form.sample_type) }}

            <div class="row">
                <div class="col-6">
                    {{ form_field(form.aliquot_date) }}
                </div>
                <div class="col-6">
                    {{ form_field(form.aliquot_time) }}
                </div>
            </div>

            {{ form_field(form.cell_viability) }}
            {{ form_field(form.lock_parent) }}
            {{ form_field(form.submit) }}
        </form>

    </div>

{% endblock %}