{% extends "template.html" %}

{% block title %}Add Attribute{%endblock %}

{% block body %}

    <div class="container">

        <h1><span class="secondary-heading"><i class="fab fa-buffer"></i> New Attribute</span>Attribute Information</h1>


        <form action="{{ url_for('attribute.add') }}" method="POST">
            {{ form.csrf_token() }}

            {{ form_field(form.term) }}
            {{ form_field(form.description) }}
            {{ form_field(form.element) }}
            {{ form_field(form.type) }}
            {{ form_field(form.required) }}
            {{ form_field(form.submit) }}
        </form>

    </div>
{% endblock %}