{% extends "template.html" %}


{% block title%}Numeric: Add Attribute{%endblock%}


{% block body %}

    <div class="container">

        <h1><span class="secondary-heading"><i class="fab fa-buffer"></i> New Attribute</span>Numeric Attribute</h1>



        <form action="{{ url_for('attribute.add_numeric', hash=hash) }}" method="POST">
            {{ form.csrf_token }}

            <div class="row">
                <div class="col-6">
                    {{ form_field(form.requires_measurement) }}
                    {{ form_field(form.measurement) }}

                </div>
                <div class="col-6">
                    {{ form_field(form.requires_prefix) }}
                    {{ form_field(form.prefix) }}
                </div>
            </div>

            {{ form_field(form.submit) }}
        </form>

    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/attribute/add/numeric.js') }}"></script>
{% endblock %}