{% extends "template.html" %}

{% block title%}Textual: Add Attribute{%endblock%}

{% block body %}

    <div class="container">

        <h1><span class="secondary-heading"><i class="fab fa-buffer"></i> New Attribute</span>Textual Attribute Information</h1>


        <form action="{{ url_for('attribute.add_textual', hash=hash) }}" method="POST">
            {{ form.csrf_token }}
            {{ form_field(form.max_length) }}
            {{ form_field(form.submit) }}
        </form>

    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/attribute/add/numeric.js') }}"></script>
{% endblock %}