{% extends "template.html" %}


{% block body %}

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fab fa-buffer"></i> Textual: Add Attribute</h2>
        </div>


        <form action="{{ url_for('attribute.add_textual', hash=hash) }}" method="POST">
            {{ form.csrf_token }}
            {{ form_field(form.max_length) }}
            {{ form_field(form.submit) }}
        </form>

    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/attribute/add/numeric.js') }}"></script>
{% endblock %}