{% extends "template.html" %}

{% block title %}LIMBSMP-{{ sample["id"] }} {% endblock %}

{% block body %}
<div class="container">

  <h1><span class="secondary-heading">
    <i class="fas fa-vial"></i> {{ sample.sample_status.value }} Sample</span>LIMBSMP-{{sample.id}}</h1>

  <div class="row">
    <div class="col-sm-9">
      <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-dark" disabled><i class="fa fa-edit"></i> Edit</button>
        </div>
        {% if sample.sample_status.value == "Available" %}
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-outline-dark" disabled><i class="fa fa-code-branch"></i> Derive</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
          <a href="{{ url_for('sample.aliquot', sample_id=sample["id"]) }}">
            <button type="button" class="btn btn-outline-dark"><i class="fa fa-code-branch"></i> Aliquot</button>
          </a>
        </div>
        {% endif %}
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-outline-dark" disabled><i class="fa fa-print"></i> Print</button>
        </div>
      </div>


      {{ show_value(sample.uuid, "UUID", "text")  }}

      {{ show_value(sample.biobank_barcode, "Biobank Barcode", "text")  }}
      {{ show_value(sample.collection_date, "Collection Date", "datetime") }}
      {{ show_value(sample.quantity, "Quantity", "text")  }}
      {{ show_value(sample.current_quantity, "Current Quantity", "text") }}
      {{ show_value(sample.sample_type_info.sample_type, "Sample Type", "text") }}
      {{ show_value(sample.sample_type_info.storage_type, "Storage Type", "text") }}

      {% for term, value in sample.custom_attribute_data.items() %}
        {{ show_value(value, term, "text") }}
      {% endfor %}
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-qrcode"></i> Sample Barcode
        </div>
        <div class="card-body" style="text-align: center;">
          <div id="loading-barcode">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p class="text-muted">Generating Barcode...</h4>
          </div>
          <img src="" id="barcode">
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h3><i class="fa fa-question-circle"></i> Patient Consent Information</h3>
      </div>
    
      {{ show_value(sample.consent_info.name, "Consent Form Template", "text") }}
      {{ show_value(sample.consent_info.version, "Consent Form Version", "text") }}
       
      <ul class="list-group">
        <li class="list-group-item active">Answers</li>
        {% for id, question in sample.consent_info.answers.items() %}
          <li class="list-group-item">{{question.question}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h3><i class="fa fa-question-circle"></i> Sample Processing Information</h3>
      </div>

      {{ show_value(sample.processing_info.name, "Processing Template Name", "text") }}
      {{ show_value(sample.processing_info.processing_time, "Processing Time", "text") }}
      {{ show_value(sample.processing_info.processing_date, "Processing Date", "text") }}

    </div>
  </div>

  <br>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3><i class="fa fa-code-branch"></i> Subsamples</h3>
  </div>


  <table id="subsampleTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Identifier</th>
        <th>Sample Status</th>
        <th>Processing Date</th>
        <th>Sample Creator</th>
    </tr>
    </thead>
    <tbody>
    {% for ss_id, ss in sample.subsamples.items() %}
        <tr>
            <td>
                <a href="{{ url_for('sample.view', sample_id=ss_id) }}">
                    <i class="fas fa-vial"></i> LIMBSMP-{{ ss_id }}
                </a>
            </td>
            <td>{{ ss.sample_status }}</td>
            <td>{{ ss.creation_date.strftime('%Y-%m-%d') }}</td>
            <td>
                {{ ss.author_information.email }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>





{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/information/view.js') }}"></script>
{% endblock %}