{% extends "template.html" %}

{% block title %}My Samples Cart : Sample Shipments {% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-shopping-cart"></i> My Samples Cart</h1>
    <div class="row text-muted">
    <div class="col-7">
        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.shipment_new_step_one') }}">
                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-shipping-fast"></i>
                        Ship Selected Samples</button></a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.batch_review') }}">
                    <button type="button" class="btn btn-outline-dark"><i class="far fa-eye"></i>
                        Review Samples</button></a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.batch_dispose') }}">
                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-trash"></i>
                        Dispose Samples</button></a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.batch_restore') }}">
                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-trash"></i>
                        Dispose Samples</button></a>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

<div class="container">

    <table id="cart-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>ConsentID</th>
                <th>Consent</th>
                <th>Base Type</th>
                <th>Sample Type</th>
                <th>Container Type</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Creation Date</th>
                <th>Location</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>

    <!-- Delete Modal -->
    <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog"
         aria-labelledby="delete-confirmation-modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="delete-confirmation-modal-title"></h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <b>Warning:</b> Removing this sample will remove all other samples in the same rack.
                    </div>
                </div>
                <div class="modal-footer modal-footer-delete">
                    <div class="btn-toolbar form-group" style="float:right" role="toolbar"
                         aria-label="Toolbar with button groups">
                        <div  class="btn-group mr-2" role="group" aria-label="First group">
                            <a id="delete-confirmation-modal-submit" href="">
                                <button type="button" class="btn btn-delete"><i
                                        class="fa fa-trash"></i> Delete
                                </button>
                            </a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button"
                                    data-dismiss="modal"
                                    class="btn btn-outline-dark" title="Close Modal"><i
                                    class="fa fa-times"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/shipment/cart.js') }}"></script>
{% endblock %}

