{% extends "template.html" %}

{% block title %}Sample Shipments {% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-shipping-fast"></i> Sample Shipments</h1>

        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('sample.shipment_new_step_one') }}">
                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-plus"></i> New Shipment</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table id="shipment-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Shipment Identifier</th>
                <th>Creation Date</th>
                <th>Uploader</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/shipment/index.js') }}"></script>
{% endblock %}
