{% extends "template.html" %}

{% block title %}{{ uuid }}{% endblock %}

{% block body %}
    <div id="loading-screen" class="container text-center">
        <div class="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <h1>Just a sec...</h1>
            <h2>Getting {{ uuid }} </h2>
        </div>

    </div>

    <div id="content" style="display: none;">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('sample.shipment_view_shipment',uuid=uuid) }}">
                            <i class="fa fa-shipping-fast"></i> Shipment - {{ uuid }}
                        </a>
                    </span>
                    Update Shipment Status
                </h1>
                <div class="row text-muted">
                    <div class="col-7">
                        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <i class="fa fa-calendar"></i> Created On: <span id="created-on"></span>
                        <div class="clearfix"></div>
                        <i class="fa fa-user"></i> Created By: <span id="author"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form method="POST" action="{{ url_for('sample.shipment_update_status', uuid=uuid) }}">
                {{ form.csrf_token }}
                {{ form_field(form.status) }}
                {{ form_field(form.tracking_number) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_field(form.date) }}
                    </div>
                    <div class="col-6">
                        {{ form_field(form.time) }}
                    </div>
                </div>
                {{ form_field(form.comments) }}

                <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {{ form_field(form.submit) }}
                    </div>
                    <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                        <a href="{{ url_for('sample.shipment_view_shipment', uuid=uuid) }}">
                            <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                Cancel
                            </button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>


{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/sample/shipment/view.js') }}"></script>
{% endblock %}