{% extends "template.html" %}

{% block title %}{{ uuid }}{% endblock %}

{% block body %}
<div id="loading-screen" class="container text-center">
    <div class="loading">
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
            <span class="sr-only">Loading...</span>
        </div>
        </div>

        <h1>Just a sec...</h1>
        <h2>Getting {{ uuid }} </h2>
    </div>

</div>

<div id="content" style="display: none;">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('sample.shipment_index') }}">
                            <i class="fa fa-shipping-fast"></i> Sample Shipment
                        </a>
                    </span>
                    {{ uuid }}
                </h1>
                <div class="row text-muted">
                    <div class="col-7">
                        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a href="{{ url_for('sample.shipment_update_status', uuid=uuid) }}">
                                    <button id="update-status-btn"  type="button" class="btn btn-outline-dark"><i
                                            class="fa fa-truck"></i>
                                        Update Status
                                    </button>
                                </a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
{#                                <a href="{{ url_for('sample.shipment_update_status', uuid=uuid) }}">#}
                                    <button id="add-cart-btn" type="button" class="btn btn-outline-dark">
                                        <i class="fa fa-cart-plus"></i>
                                        Add to Cart
                                    </button>
{#                                </a>#}
                            </div>

                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <i class="fa fa-calendar"></i> Created On: <span id="created-on"></span>
                        <div class="clearfix"></div>
                        <i class="fa fa-user"></i> Created By: <span id="author"></span>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="basic-info-nav">Basic Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="involved-samples-nav">Involved Samples</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="shipment-status-nav">Shipment Status</a>
            </li>
          </ul>

          <div id="basic-info-div">
            <table class="table table-striped" id="basic-information"></table>
          </div>

          <div id="involved-samples-div" style="display:none;">
{#            <ul class="list-group" id="involved-samples-list-group">#}
{#            </ul>#}
            <table id="involved-samples-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>DBid</th>
                        <th>Barcode</th>
                        <th>Base Type</th>
                        <th>Sample Type</th>
                        <th>Container Type</th>
                        <th>Source</th>
                        <th>Quantity</th>
                        <th>Current Status</th>
                        <th>Current Rack</th>
                        <th>From Site</th>
                        <th>Creation Date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
           </div>

          <div id="shipment-status-div" style="display:none;">
              <table class="table table-striped" id="shipment-status-information"></table>
          </div>

        </div>
    </div>
</div>

<!--- Cart Confirmation -->
<div class="modal fade" id="cart-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="cart-confirmation-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="cart-confirmation-label">Cart Confirmation</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="cart-confirmation-msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/sample/shipment/view.js') }}"></script>
{% endblock %}