{% extends "template.html" %}

{% block title %}Biohazard Information{% endblock %}

{% block body %}
    <div class="container">
        
        <h1>
            
            <span class="secondary-heading"><a href="{{ url_for('sample.index') }}"><i class="fas fa-vial"></i> Samples Index </a></span>
            <i class="fa fa-exclamation-triangle"></i> Biohazard Information
        </h1>

        

        <p>This is considered to be the lowest risk of the four levels. It is suitable for work with the presence of low-risk
            microbes and agents. These will carry little to no threat of infection to healthy adults.</p>
        

            <div class="card">
                <div class="card-header text-center">
                    <h2>Level One</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h3>Procedures and Practices</h3>
            
                            <ol>
                                <li>You must wash your hands before and after handling materials, and before leaving the laboratory.</li>
                                <li>Mouth pipetting is strictly prohibited.</li>
                                <li>Eating, drinking, smoking, the application of contact lenses, storing food are not permitted in areas in
                                    which this material is found. Refrigerators and freezers ued to store biospecimens should have no other
                                    material stored within.</li>
                                <li>Avoid sharps, such a Pasteur pipettes, needles and scalpels.</li>
                                <li>Minimise the creation of aerosols and splashes.</li>
                                <li>Decontaminate work surfaces after work using microbial agents.</li>
                            </ol>
                        </div>
                        <div class="col-6">
                            <h3>Safety Equipment</h3>
                            <ol>
                                <li>Laboratory coats are strongly recommended.</li>
                                <li>You must use protective eyewear when undertaking procedures that may create aerosols and
                                splashes of potentially hazardous materials.</li>
                                <li>Gloves should be worn when handling materials. Gloves should be changed if contaminated or
                                damaged. Gloves should not be reused, and alternatives to latex should be available.</li>
                            </ol>
                            <h3>Facilities</h3>
                            <ol>
                                <li>Sink.</li>
                                <li>Acids-bases-heat-and water resistant laboratory benches should be used.</li>
                            </ol>
                        </div>
                </div>
                </div>
            </div>

        

            <div class="card">
                <div class="card-header text-center">
                    <h2>Level Two</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h3>Procedures and Practices</h3>
            
                            <ol>

                            </ol>
                        </div>
                        <div class="col-6">
                            <h3>Safety Equipment</h3>
                            <ol>

                            </ol>
                            <h3>Facilities</h3>
                            <ol>
                                <li>Sink.</li>
                                <li>Acids-bases-heat-and water resistant laboratory benches should be used.</li>
                                <li>Autoclave available.</li>
                            </ol>
                        </div>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h2>Level Three</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h3>Procedures and Practices</h3>
            
                            <ol>
                             
                            </ol>
                        </div>
                        <div class="col-6">
                            <h3>Safety Equipment</h3>
                            <ol>
                               
                            </ol>
                            <h3>Facilities</h3>
                            <ol>
                                
                            </ol>
                        </div>
                </div>
                </div>
            </div>        

            <div class="card">
                <div class="card-header text-center">
                    <h2>Level Four</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h3>Procedures and Practices</h3>
            
                            <ol>
                             
                            </ol>
                        </div>
                        <div class="col-6">
                            <h3>Safety Equipment</h3>
                            <ol>
                               
                            </ol>
                            <h3>Facilities</h3>
                            <ol>
                              
                            </ol>
                        </div>
                </div>
                </div>
            </div>

    </div>
{% endblock %}

