{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}LIMSHF-{{ shelf.id }}: Cryovial Box to Shelf{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            <h1><span class="secondary-heading"><i class="fa fa-temperature-low"></i> LIMSHF-{{ shelf.id }}</span>Cryovial Box to Shelf</h1>

            <p>Something here.</p>
            <form method="POST" action="{{ url_for('storage.assign_box_to_shelf', shelf_id=shelf.id ) }}">
                {{ form.csrf_token }}
                {{ form_field(form.boxes) }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_field(form.date) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_field(form.time) }}
                    </div>
                </div>
                {{ form_field(form.entered_by) }}
                {{ form_field(form.submit) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}