{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Editing LIMBSHF-{{ shelf.id }} : Shelf{% endblock %}
{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.view_shelf', id=shelf.id) }}">
                            <i class="fa fa-cube"></i> LIMBSHF-{{ shelf.id }}</a></span>
                    </a>
                    <i class="fa fa-edit"></i> Edit Shelf</h1>

            </div>
        </div>

        <div class="container">

            <form method="POST" action="{{ url_for('storage.edit_shelf', id=shelf.id ) }}">
                {{ form.csrf_token() }}
                {{ form_field(form.name) }}
                {{ form_field(form.description) }}
                {{ form_field(form.submit)   }}
            </form>

        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}