{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}{{ lts.manufacturer }}-{{ lts.serial_number }}: New Shelf{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            
            <h1><span class="secondary-heading"><i class="fa fa-temperature-low"></i> {{ lts.manufacturer }}-{{ lts.serial_number }}</span>New Shelf</h1>


            <form action="{{ url_for('storage.add_shelf', lts_id=lts.id) }}" method="post">
                    {{ form.csrf_token() }}
                    {{ form_field(form.name) }}
                    {{ form_field(form.description) }}
                    {{ form_field(form.submit) }}
            </form>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}