{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}LIMSHF-{{ shelf.id }}: Sample Rack to Shelf{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage">
            <div class="jumbotron">
                <div class="container">
                    <h1><span class="secondary-heading">
                        <a href="{{ url_for('storage.view_shelf', id=shelf.id) }}">
                            <i class="fa fa-bars"></i> LIMBSHF-{{ shelf.id }}
                    </a></span>
                        <i class="fa fa-grip-vertical"></i> Assign Rack
                    </h1>
                </div>
            </div>

            <div class="container">

                <form method="POST" action="{{ url_for('storage.assign_racks_to_shelf', id=shelf.id ) }}">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-10">
{#                            {{ form_field(form.racks) }}#}
                            {{ form.racks }}
                            <div id="rack-warning" class="alert alert-warning" style="display:none;" role="alert">
                                <b>Warning:</b> This will move the rack from its current shelf
                            </div>
                        </div>
                        <div class="col-2">
                            {#                        <div id="rack-spacer"> </div>#}
                            <a href="{{ url_for('storage.add_rack') }}">
                                <button id="new-rack-btn" type="button" style="margin-top:33px;width:100%;"
                                        class="btn btn-form">
                                    <i class="fa fa-plus"></i> New Rack
                                </button>
                            </a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_field(form.date) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_field(form.time) }}
                        </div>
                    </div>
                    {{ form_field(form.entered_by) }}

                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_field(form.compartment_row) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_field(form.compartment_col) }}
                        </div>
                    </div>

                    <div class="btn-toolbar form-group" style="float:right;" role="toolbar"
                         aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            {{ form_field(form.submit) }}
                        </div>
                        <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                            <a href="{{ url_for('storage.view_shelf',id=shelf.id) }}">
                                <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                    Cancel
                                </button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{#    <script>#}
{#        window.onload = function () {#}
{#            check_rack();#}
{#        };#}
{#    </script>#}
{#    <script src="{{ url_for('static', filename='js/storage/rack/rack_checks.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}