{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}

{% block title %}{{ shelf.name }}: Assign sample{% endblock %}

{% block body %}

    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">
            <h1><span class="secondary-heading"><i class="fa fa-bars"></i> {{ shelf.name }}</span>
                <i class="fas fa-vial"></i> Assign Sample</h1>


            <form action="{{ url_for('storage.assign_sample_to_shelf', shelf_id=shelf.id) }}" method="post">
                {{ form.csrf_token }}
                {{ form_field(form.samples) }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_field(form.date) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_field(form.time) }}
                    </div>
                </div>
                {{ form_field(form.entered_by) }}

                {{ form_field(form.submit) }}
            </form>


        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}