{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ shelf.name }}: Assign sample{% endblock %}

{% block body %}

<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.view_shelf', id=shelf.id) }}">
                            <i class="fa fa-bars"></i> LIMBSHF-{{ shelf.id }}
                        </a>
                    </span>
                    <i class="fas fa-vial"></i> Assign Sample
                </h1>
            </div>
        </div>
        <div class="container">


            <form action="{{ url_for('storage.assign_samples_to_shelf', id=shelf.id) }}" method="post">
{#            <form action="{{ url_for('storage.assign_samples_in_cart_to_shelf', id=shelf.id) }}" method="post">#}
                {{ form.csrf_token }}

{#                {{ form_field(form.samples, with_view=True, view_endpoint=url_for('sample.view', uuid=" ", _external=True)) }}#}

                {{ form.samples }}

                <div id="rack-warning" class="alert alert-warning" style="display:none;" role="alert">
                    <b>Warning:</b> This will move the sample from its current rack
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_field(form.date) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_field(form.time) }}
                    </div>
                </div>
                {{ form_field(form.entered_by) }}

                <div class="btn-toolbar form-group" style="float:right;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        {{ form_field(form.submit) }}
                    </div>
                    <div class="btn-group mr-2" style="padding-top: 10px;" role="group" aria-label="Second group">
                        <a href="{{ url_for('storage.view_shelf',id=shelf.id) }}">
                            <button type="button" class="btn btn-cancel"><i class="fa fa-times"></i>
                                Cancel
                            </button></a>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{#    <script>#}
{#        window.onload = function () {#}
{#            check_sample();#}
{#        };#}
{#    </script>#}
{#    <script src="{{ url_for('static', filename='js/storage/rack/rack_checks.js') }}"></script>#}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}