{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ shelf.name }}: Assign sample{% endblock %}

{% block body %}

<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
        <div class="jumbotron">
            <div class="container">
                <h1>
                    <span class="secondary-heading">
                        <a href="{{ url_for('storage.view_shelf', id=shelf.id) }}">
                            <i class="fa fa-bars"></i> LIMBSHF-{{ shelf.id }}
                        </a>
                    </span>
                    <i class="fas fa-vial"></i> Assign Sample
                </h1>
            </div>
        </div>
        <div class="container">


            <form action="{{ url_for('storage.assign_sample_to_shelf', id=shelf.id) }}" method="post">
                {{ form.csrf_token }}
            
                <!--Need to get sample uuid and store below as string variable and pass to function belowb-->
                {{ form_field(form.samples, with_view=True, view_endpoint=url_for('sample.view', uuid=sfouuid))}}

                <div class="row">
                    <div class="col-sm-6">
                        {{ form_field(form.date) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_field(form.time) }}
                    </div>
                </div>
                {{ form_field(form.entered_by) }}

                {{ form_field(form.submit) }}
            </form>


        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}">var fouuid = form.uuid; var sfouuid = "6dc0d26f-f039-4362-abb4-c61b8842401b"; </script>
{% endblock %}