{% extends "template.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/storage/navbar.css') }}"
          rel="stylesheet">
{% endblock %}


{% block title %}LIMBSHF-{{ shelf.id }}{% endblock %}

{% block body %}
    <div id="sidebar-wrapper">
        {{ storage_navbar() }}
        <div class="storage container">

            <h1><span class="secondary-heading">
                
                <a href="{{ url_for('storage.view_cold_storage', id=shelf.storage_id) }}"><i class="fa fa-temperature-low"></i> LIMBCS-{{ shelf.storage_id }}</span></a>
                <i class="fa fa-bars"></i> LIMBSHF-{{ shelf.id }}</h1>

                <div class="row text-muted">
                    <div class="col-7">
                        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                            {% if not shelf.is_locked %}
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <a href="">
                                        <button type="button" class="btn btn-outline-dark"><i class="fa fa-edit"></i> Edit
                                            Details
                                        </button>
                                    </a>
                                </div>
        
        
                            {% endif %}
        
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                                        class="btn btn-outline-dark"><i class="fa fa-lock"></i> {% if shelf.is_locked %}
                                    Unl{% else %}L{% endif %}ock
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <i class="fa fa-calendar"></i> Created On: {{ shelf.created_on }}
                        <div class="clearfix"></div>
                        <i class="fa fa-user"></i> Created By: {{ render_author_for_table(shelf.author) }}
                    </div>
                </div>
                
                {{ show_value(shelf.description, "Description", "text") }}

                {{ shelf }}

                </div>
               
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
{% endblock %}