{% extends "template.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}LIMBSHF-{{ id }}{% endblock %}

{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">

        <div id="loading-screen" class="container text-center">
            <div class="loading">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <h1>Just a sec...</h1>
                <h2>Loading Shelf Information</h2>
            </div>
        </div>

        <div id="content" style="display: none;">
            <div class="jumbotron">
                <div class="container">
                    <h1>
                        <span class="secondary-heading">
                            <span id="storage-href">
                                <!-- no link back to cold storage -->
                                <a href="{{ url_for('storage.view_cold_storage',id=shelf.storage_id) }}">
                                <i class="fa fa-temperature-low"></i> LIMBCS-{{ shelf.storage_id }}
                                </a>
                            </span>
                        </span>
                        <i class="fa fa-bars"></i> LIMBSHF-{{ shelf.id }}</span></h1>


                    <div class="row text-muted">
                        <div class="col-7">
                            <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                                {% if not shelf.is_locked %}
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button id="edit-details-btn" type="button" class="btn btn-outline-dark"><i
                                            class="fa fa-edit"></i> Edit
                                        Details
                                    </button>
                                </div>

                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button id="add-sample-btn" type="button" class="btn btn-outline-dark">
                                        <i class="fas fa-vial"></i> Add Sample
                                    </button>
                                </div>

                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button id="add-rack-btn" type="button" class="btn btn-outline-dark">
                                        <i class="fa fa-grip-vertical"></i> Add Rack
                                    </button>
                                </div>

                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-delete float-right" data-toggle="modal"
                                            data-target="#delete-confirmation">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog"
                                     aria-labelledby="delete-confirmation-modal-title" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger text-white">
                                                <h5 class="modal-title" id="delete-confirmation-modal-title">Delete LIMBSHELF-{{ shelf.id }}?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger" role="alert">
                                                    <b>Warning:</b> Deleting a shelf cannot be reversed.
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="btn-toolbar form-group" style="float:right" role="toolbar"
                                                     aria-label="Toolbar with button groups">
                                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                                        <a href="{{ url_for('storage.delete_shelf', id=shelf.id) }}">
                                                            <button type="button" class="btn btn-outline-dark"><i
                                                                    class="fa fa-trash"></i> Delete
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                                        <button type="button"
                                                                data-dismiss="modal"
                                                                class="btn btn-outline-dark" title="Close Modal"><i
                                                                class="fa fa-times"></i> Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-5 text-right">
                            <i class="fa fa-calendar"></i> Created On: <span id="created-on"></span>
                            <div class="clearfix"></div>
                            <i class="fa fa-user"></i> Created By: <span id="created-by"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2>Information</h2>
                <table class="table table-striped" id="shelf-information"></table>

                <div id="sample-div">
                    <h2><i class="fas fa-vial"></i> Stored Samples</h2>
                    <table id="sample-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Identifier</th>
                                <th>Base Type</th>
                                <th>Sample Type</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>


                <div id="sample-rack-div">

                    <h2><i class="fa fa-grip-vertical"></i> Stored Sample Racks</h2>

                    <table id="rack-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Rack</th>
                                <th>Serial Number</th>
                                <th>Occupancy</th>
                                <th>UUID</th>
                                <th>Created By</th>
                                <th>Created On</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/storage/shelf/view.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/navtree.js') }}"></script>
<script src="{{ url_for('static', filename='js/storage/delete.js') }}"></script>

{% endblock %}