{% macro form_field(field) -%}

    {% set with_label = kwargs.pop('with_label', True) %}
    {% if field.type == 'BooleanField' %}
        <div class="form-check">
            <input class="form-check-input" id="{{ field.id }}" name="{{ field.id }}" type="checkbox">
            <label class="form-check-label" for="{{ field.id }}">
                {{ field.label.text }}{% if field.flags.required %} <span class="imp">(*)</span>{% endif %}:
            </label>
        </div>

    {% elif field.type != 'SubmitField' %}
        <div class="form-group">


        {% if with_label %}
            <label for="{{ field.id }}">
                {{ field.label.text }}{% if field.flags.required %} <span class="imp">(*)</span>{% endif %}:</label>
        {% endif %}

        {% if field.description %}
            <small class="form-text text-muted">{{ field.description }}</small>
        {% endif %}

        {% if field.errors %}
            <div class="alert alert-warning" role="alert">
                <b>Error:</b> {{ field.errors|join(', ') }}
            </div>
        {% endif %}


        {% if field.type == 'StringField' %}
            <input class="form-control" id="{{ field.id }}" name="{{ field.name }}"
                   {% if field.flags.required %}required{% endif %}>
        {% elif field.type == 'IntegerField' %}
            <input type="number" class="form-control" id="{{ field.id }}" name="{{ field.name }}"
                   {% if field.flags.required %}required{% endif %}>
        {% elif field.type == 'TextAreaField' %}
            <textarea class="form-control" id="{{ field.id }}" name="{{ field.name }}" rows="3"></textarea>
        {% elif field.type == 'SelectField' %}
            <select class="form-control" id="{{ field.id }}" name="{{ field.name }}">
                {% for key, value, bo in field.iter_choices() %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        {% elif field.type  == 'PasswordField' %}
            <input type="password" class="form-control" id="{{ field.id }}" name="{{ field.name }}" required>
        {% elif field.type == 'FileField' %}
            <input type="file" class="form-control-file" id="{{ field.id }}" name="{{ field.name }}"
                   {% if field.flags.required %}required{% endif %}>
        {% elif field.type == 'DateField' %}
            <input type="date" name="{{ field.name }}" id="{{ field.id }}" min="1000-01-01"
                   max="3000-12-31" class="form-control">
        {% endif %}
    {% else %}
        <div style="height: 20px;"></div>
        <button type="submit" class="btn btn-success float-right" id="{{ field.id }}">
            <i class="fa fa-check"></i> {{ field.label.text }}
        </button>
    {% endif %}
{%- endmacro %}


{% macro show_value(attribute, label, type) -%}

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">{{ label }}:</label>
        <div class="col-sm-8">
            {% if type == "text" %}
                <input class="form-control" type="text" placeholder="{{ attribute }}" readonly>
            {% elif type == "textarea" %}
                <textarea class="form-control" placeholder="{{ attribute }}" readonly></textarea>
            {% elif type == "enum" %}
                <input class="form-control" type="text" placeholder="{{ attribute }}" readonly>
            {% elif type == "boolean" %}
                <input class="form-control" type="text" placeholder="{{ attribute }}" readonly>
            {% elif type == "datetime" %}
                <input class="form-control" type="text" placeholder="{{ attribute.strftime('%Y-%m-%d') }}" readonly>
            {% endif %}

        </div>
    </div>

{%- endmacro %}

{% macro new_render_form(form) -%}
    {% for element in form %}
        {% if (element.type != "CSRFTokenField") %}
            {{ form_field(element) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro render_question(field, count) -%}
    <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question {{ count }}</h5>
            <small>
                <input class="form-check-input" id="{{ field.id }}" name="{{ field.id }}" type="checkbox">
            </small>
        </div>
        <p class="mb-1">{{ field.label.text }}</p>
    </div>
{%- endmacro %}


{% macro generate_attribute_select_form(form) -%}

    <table id="selectAttribute" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Attribute Term</th>
            <th>Type</th>
            <th>Required</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        {% for field in form %}
            {% if field.type == "BooleanField" %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field.__dict__ }}</td>
                    <td>{{ field.data }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}