<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta name="author" content="Keiron O'Shea">
        <title>{% block title %}{% endblock %} : LImBuS - The LIbre Biobank System</title>
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/datatables/media/css/dataTables.bootstrap.css') }}"
              rel="stylesheet">
        {% block head %}
        {% endblock %}
        <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.png') }}"/>
    </head>

    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>