{% from "macros.html" import render_warning, render_question, form_field, show_value, new_render_form, generate_attribute_select_form, render_success%}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta name="author" content="Keiron O'Shea">
    <title>{% block title %}{% endblock %} : LImBuS - The LIbre Biobank System</title>

    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/datatables.net-searchpanes-dt/css/searchPanes.dataTables.min.css') }}"
          rel="stylesheet">

    {% block head %}
    {% endblock %}

    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logos/limbus_logo.svg') }}"/>
</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('misc.index') }}">
            <img src="{{ url_for('static', filename='images/logos/limbus_logo.svg') }}"> LImBuS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sample.sap_portal') }}"><i class="fas fa-vial"></i> SAQ
                            Portal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('processing.index') }}"><i class="fas fa-boxes"></i> SAP
                            Portal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('donor.index') }}"><i class="fas fa-male"></i> Donor Portal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('document.index' ) }}"><i class="fas fa-file"></i> Doc
                            Portal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('pcf.index' ) }}"><i class="fa fa-question-circle"></i> PCF
                            Portal</a>
                    </li>

                </ul>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown"
                           aria-expanded="false">
                            <img src="{{ current_user.gravatar() }}"
                                 class="rounded-circle ">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right position-absolute"
                             aria-labelledby="navbarDropdown" style="width:300px">
                <span class="dropdown-item">
                    <h6>Helo, {{ current_user.name }}!</h6>
                    <p class="small">Now you know how to say hello in Welsh!</p>
                </span>
                            <div class="dropdown-divider"></div>
                            {% if current_user.is_admin %}
                                <a class="dropdown-item" href="{{ url_for('admin.index') }}"><i
                                        class="fa fa-user-secret"></i> Admin Panel</a>
                            {% endif %}
                            <a class="dropdown-item" disabled><i class="fa fa-cog"></i> Settings</a>
                            <a class="dropdown-item" href="{{ url_for('auth.profile') }}"><i class="fa fa-user"></i> My
                                Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                                <div class="btn btn-danger full-width">
                                    Log Out
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>

            {% else %}

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in-alt"></i> Log In</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>


{% block body %}
{% endblock %}


</body>


<footer class="container py-5">
    <div class="alert alert-danger text-center">
<i class="fa fa-exclamation-triangle"></i> <b>Notice:</b> This is a development version of LImBuS and is not suitable for real world use.
    </div>
    <div class="row">
        <div class="col-12 col-md">
            <img src="{{ url_for('static', filename='images/logos/aber.svg') }}" style="padding-bottom: 2em;">

            <small class="d-block mb-3 text-muted">LImBuS was developed by researchers from Aberystwyth
                University</small>
            <small class="d-block mb-3 text-muted">&copy; AberSystemsBiology 2019-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/AberystwythSystemsBiology/LImBuS/wiki"
                       target="_blank">Documentation</a>
                </li>
                <li><a class="text-muted" href="https://github.com/AberystwythSystemsBiology/LImBuS/" target="_blank">Source
                    Code</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ url_for('misc.team') }}" target="_blank">Team</a></li>
                <li><a class="text-muted" href="{{ url_for('misc.license') }}" target="_blank">License</a></li>
            </ul>
        </div>
    </div>
</footer>


<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-searchpanes/js/dataTables.searchPanes.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.js') }}"></script>

{% block javascript %}

{% endblock %}


</html>