{% extends "template.html" %}

{% block title %}Log In{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/auth/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container login">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fas fa-key"></i> Log In</h1>

        </div>



        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}

            {% endif %}
        {% endwith %}


        <form method="POST" action="{{ url_for('auth.login' ) }}">
            {{ form.csrf_token }}

            {{ form_field(form.email) }}

            {{ form_field(form.password) }}

            {{ form_field(form.submit, with_label=False) }}

        </form>

    </div>
    </div>

    </div>
{% endblock %}

