{% extends "template.html" %}

{% block title %}Container Portal{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-dot-circle"></i> Container Portal</h1>
        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('container.new_container') }}">
                    <button type="button" class="btn btn-outline-dark">
                        <i class="fa fa-edit"></i> Add Container
                    </button>
                </a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('container.new_fixation_type') }}">
                    <button type="button" class="btn btn-outline-dark">
                        <i class="fa fa-edit"></i> Add Fixation Type
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">




</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/container/index.js') }}"></script>
{% endblock %}