{% extends "template.html" %}

{% block title %}Container Portal{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-dot-circle"></i> Container Portal</h1>
        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('container.new_container') }}">
                    <button type="button" class="btn btn-outline-dark">
                        <i class="fa fa-plus"></i> Add Container
                    </button>
                </a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('container.new_fixation_type') }}">
                    <button type="button" class="btn btn-outline-dark">
                        <i class="fa fa-plus"></i> Add Fixation Type
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <table id="container-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Used For</th>
                <th>Tissue</th>
                <th>Fluid</th>
                <th>Cellular</th>
                <th>Sample Rack</th>

                <th>Creation Date</th>
                <th>Created By</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/container/index.js') }}"></script>
{% endblock %}