{% extends "template.html" %}

{% block title %}Custom Attribute Form :: Sample Acquisition Portal{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><span class="secondary-heading">
            <a href="{{ sample._links.self }}">
                <i class="fas fa-vial"></i> {{ sample.uuid }}</a></span>
        <i class="fab fa-buffer"></i> Custom Attribute Selection Form</h1>
    </div>
</div>
<div class="container">
    

    <form action="{{ url_for('sample.new_custom_attribute', uuid=sample.uuid) }}" method="POST">
        {{ form.csrf_token }}
        {{ form_field(form.submit) }}
    </form>


</div>
{% endblock %}