{% extends "template.html" %}

{% block title %}Upload :: Document Portal{% endblock %}

{% block body %}
<div class="container">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">
                <i class="fas fa-file"></i> Document Upload
            </h1>
        </div>
<form method="POST" action="{{ url_for('document.upload' ) }}">
        {{ form.csrf_token }}

        {{ form_field(form.name) }}
        {{ form_field(form.description) }}

        {{ form_field(form.type) }}

        {{ form_field(form.file) }}

        {{ form_field(form.submit, with_label=False)}}

    </form>
</div>
{% endblock %}