{% extends "template.html" %}

{% block title %}LIMBDOC-{{ document.id }} :: Document Portal{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fas fa-file"></i> LIMBDOC-{{ document.id }}</h2>

        </div>

        <div class="row">
            <div class="col-lg">

                {{ show_value(document.name, "Document Name", "text") }}
                {{ show_value(document.description, "Document Description", "textarea") }}
                {{ show_value(document.upload_date, "Upload Date", "datetime") }}

                <h2><i class="fa fa-download"></i> Document Files</h2>

                <table id="document_files_table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <th>Identifier</th>
                    <th>Date Upload</th>
                    <th>Uploader</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    {% for user, file in files %}
                        <tr>
                            <td>D{{ document.id }}F{{ file.id }}</td>
                            <td>{{ file.upload_date.strftime('%Y-%m-%d') }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href="{{ url_for('document.get_file', doc_id=document.id, file_id=file.id) }}">
                                <div class="btn btn-primary"><i class="fa fa-download"></i></div>
                            </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>


            {% if files|length > 0 %}
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-file-pdf"></i> Document Viewer
                        </div>
                        <div class="card-body">
                            <object data="{{ url_for('document.get_file', doc_id=document.id, file_id=files[0][1].id) }}"
                                    type="application/pdf"
                                    width="100%" height="500px" ;>
                                <p>It appears you don't have a PDF plugin for this browser.
                                    No biggie... you can <a href="resume.pdf">click here to
                                        download the PDF file.</a></p>
                            </object>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('document.get_file', doc_id=document.id, file_id=files[0][1].id) }}">
                                <div class="btn btn-primary">Download</div>
                            </a>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}