{% extends "template.html" %}

{% block title %}{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/storage/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="sidebar-wrapper">
    {{ storage_navbar() }}
    <div class="storage">
<div class="jumbotron">
    <div class="container">
        <h1>
            <span id="secondary-heading" class="secondary-heading">
                
            </span>
            <span id="primary-heading"></span>
        </h1>

        <div class="row text-muted">
            <div class="col-7">
                <div id="jumbotron-btn-toolbar" class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
                   
                </div>
            </div>
            <div class="col-5 text-right">
                <i class="fa fa-calendar"></i> Created On: <span id="created-on"></span>
                <div class="clearfix"></div>
                <i class="fa fa-user"></i> Created By: <span id="author"></span>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <table id="information" class="table table-striped">

    </table>


</div>
</div>
</div>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/procedure/view.js') }}"></script>
{% endblock %}