body {
    padding-top: 60px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

nav img {
    height:30px;
}
.test {
    background-color: #000;
}

#homepage-jumbotron {
    color: #fff;
    background-image: url("../images/header.JPG") ;
}

.full-width {
    width:100%;
}

h2 {
    margin-top: 15px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
. { margin-bottom:7px; }

.equal {
    display: -webkit-flex;
    display: flex;
}

.progress {
    margin: 20px;
}



.segment {
	display: block;
	margin:1em;
	min-width: 30px;
}

.no {
	background-color: red;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1.00);
}