body {
    padding-top: 60px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

nav img {
    height:30px;
}

.test {
    background-color: #000;
}

#homepage-jumbotron {
    color: #fff;
    background-image: url("../images/header.JPG") ;
}
