{% extends "template.html" %}

{% block title %}Cryovial Boxes{% endblock %}

{% block body %}

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2><i class="fa fa-cube"></i> LIMBCRB-{{ cryo.id }}</h2>
        </div>

            {% for r in range(cryo.num_rows) %}
                <div class="row">
                {% for c in range(cryo.num_cols) %}
                    <div id="{{ r }};{{ c }}" class="col" >
                        a
                    </div>
                {% endfor %}
                </div>

            {% endfor  %}

    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/storage/cryobox/view.js') }}"></script>
{% endblock %}