{% extends "template.html" %}

{% block title %}Add Sample Attribute : Sample Acquisition Portal{% endblock %}

{% block body %}
    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">
                <i class="far fa-clone"></i> Step Two: Add Sample Attribute
            </h1>
        </div>

        <form method="POST" action="{{ url_for('sample.add_attribute' ) }}">
            {{ form.csrf_token }}
        </form>
    </div>
{% endblock %}