{% extends "template.html" %}

{% block title %}Donors{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-user-circle"></i> Donors</h1>

        <div class="btn-toolbar form-group" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{{ url_for('donor.add') }}">
                    <button type="button" class="btn btn-outline-dark"><i class="fa fa-plus"></i> New Donor</button>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-2">
            <h3>Filters</h3>

            {{ form_field(form.sex) }}
            {{ form_field(form.status) }}
            {{ form_field(form.race) }}
            {{ form_field(form.enrollment_site_id) }}
        
            <div class="row">
                <div class="col-6">
                    <button id="reset" class="btn btn-outline-dark full-width">Reset Table</button>
                </div>
                <div class="col-6">
                    <button id="filter" class="btn btn-success full-width">Apply Filter</button>
                </div>

            </div>

        </div>
        <div class="col-10">


            <div id="loading" class="text-center">
                <div class="loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <h1>Just a sec...</h1>
                </div>
            </div>

            <div id="table_view" style="display:none;">

                <table id="donor-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>DBid</th>
                            <th>Donor</th>
                            <th>UUID</th>
                            <th>Master participant no.</th>
                            <th>Enrollment site id</th>
                            <th>Consents</th>
                            <th>Samples(New)</th>
                            <th>DOB</th>
                            <th>Registration Date</th>
                            <th>Age at registration</th>
                            <th>Sex</th>
                            <th>Race</th>
                            <th>Weight(kg)</th>
                            <th>Height(cm)</th>
                            <th>Status</th>
                            <th>Diagnosis</th>
                            <th>Creation Date</th>
                            <th>BMI</th>
                            <th>Disease Diagnosis</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/donor/index.js') }}"></script>
{% endblock %}